<div v-if="hsba">
  <div class="row mt-3">
    <div class="col-12">
      <label class="label-title label-bold">I. VÀO VIỆN HOẶC VÀO KHOA KHÁM BỆNH</label>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-6">
      <label class="label-title">Chẩn đoán nơi đến</label>
      <input readonly data-toggle="modal" data-target="#dmChandoannoidenSelect" class="form-control" 
          :value="getTextChanDoan(hsba.emrChanDoan.emrDmMaBenhChandoannoiden)">
    </div>
    <div class="col-6">
      <label class="label-title">Chẩn đoán vào viện</label>
      <input readonly data-toggle="modal" data-target="#dmChandoankkbSelect" class="form-control" 
          :value="getTextChanDoan(hsba.emrChanDoan.emrDmMaBenhChandoankkb)">
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-6">
      <label class="label-title">Mô tả chẩn đoán nơi đến</label>
      <textarea rows="3" class="form-control" v-model="hsba.emrChanDoan.motachandoannoiden"></textarea>
    </div>
    <div class="col-6">
      <label class="label-title">Mô tả chẩn đoán vào viện</label>
      <textarea rows="3" class="form-control" v-model="hsba.emrChanDoan.motachandoankkb"></textarea>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
        <label class="label-title label-bold">II. VÀO KHOA ĐIỀU TRỊ</label>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-6">
      <label class="label-title">Bệnh chính</label>
      <input readonly data-toggle="modal" data-target="#dmChandoanbenhchinhSelect" class="form-control" 
          :value="getTextChanDoan(hsba.emrBenhAn.emrDmMaBenhChandoanbenhchinh)">
    </div>
    <div class="col-6">
      <label class="label-title">Bệnh kèm theo</label>
      <input readonly data-toggle="modal" data-target="#dmChandoankemtheosSelect" class="form-control" 
          :value="getTextChanDoans(hsba.emrBenhAn.emrDmMaBenhChandoankemtheos)">
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-6">
      <label class="label-title">Mô tả chẩn đoán bệnh chính</label>
      <textarea rows="3" class="form-control" v-model="hsba.emrBenhAn.motachandoanbenhchinh"></textarea>
    </div>
    <div class="col-6">
      <label class="label-title">Mô tả chẩn đoán bệnh kèm theo</label>
      <textarea rows="3" class="form-control" v-model="hsba.emrBenhAn.motachandoankemtheo"></textarea>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
        <label class="label-title label-bold">III. RA VIỆN</label>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-6">
      <label class="label-title">Bệnh chính</label>
      <input readonly class="form-control" data-toggle="modal" data-target="#dmChandoanravienchinhsSelect"
          :value="getTextChanDoan(hsba.emrChanDoan.emrDmMaBenhChandoanravienchinh)">
    </div>
    <div class="col-6">
      <label class="label-title">Bệnh kèm theo</label>
      <input readonly class="form-control" data-toggle="modal" data-target="#dmChandoanravienkemtheosSelect" 
          :value="getTextChanDoans(hsba.emrChanDoan.emrDmMaBenhChandoanravienkemtheos)">
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-6">
      <label class="label-title">Mô tả chẩn đoán bệnh chính</label>
      <textarea rows="3" class="form-control" v-model="hsba.emrChanDoan.motachandoanravienchinh"></textarea>
    </div>
    <div class="col-6">
      <label class="label-title">Mô tả chẩn đoán bệnh kèm theo</label>
      <textarea rows="3" class="form-control" v-model="hsba.emrChanDoan.motachandoanravienkemtheo"></textarea>
    </div>
  </div>

  <div class="mt-3 mb-3">
    <button v-on:click="saveHsba()" class="btn btn-sm btn-primary">Lưu lại</button>
  </div>

  <danhmuc-popup id="dmChandoannoidenSelect" show_code="true" name="emrDmMaBenhChandoannoiden" :value="hsba.emrChanDoan.emrDmMaBenhChandoannoiden" title="Chẩn đoán nơi đến" dm_type="DM_MA_BENH"></danhmuc-popup>
  <danhmuc-popup id="dmChandoankkbSelect" show_code="true" name="emrDmMaBenhChandoankkb" :value="hsba.emrChanDoan.emrDmMaBenhChandoankkb" title="Chẩn đoán vào viện" dm_type="DM_MA_BENH"></danhmuc-popup>
  <danhmuc-popup id="dmChandoanbenhchinhSelect" show_code="true" name="emrDmMaBenhChandoanbenhchinh" :value="hsba.emrBenhAn.emrDmMaBenhChandoanbenhchinh" title="Chẩn đoán bệnh chính" dm_type="DM_MA_BENH"></danhmuc-popup>
  <danhmuc-popup id="dmChandoankemtheosSelect" multi="true" show_code="true" name="emrDmMaBenhChandoankemtheos" :value="hsba.emrBenhAn.emrDmMaBenhChandoankemtheos" title="Chẩn đoán bệnh kèm theo" dm_type="DM_MA_BENH"></danhmuc-popup>
  <danhmuc-popup id="dmChandoanravienchinhsSelect" show_code="true" name="emrDmMaBenhChandoanravienchinh" :value="hsba.emrChanDoan.emrDmMaBenhChandoanravienchinh" title="Chẩn đoán bệnh chính (ra viện)" dm_type="DM_MA_BENH"></danhmuc-popup>
  <danhmuc-popup id="dmChandoanravienkemtheosSelect" multi="true" show_code="true" name="emrDmMaBenhChandoanravienkemtheos" :value="hsba.emrChanDoan.emrDmMaBenhChandoanravienkemtheos" title="Chẩn đoán bệnh kèm theo (ra viện)" dm_type="DM_MA_BENH"></danhmuc-popup>
  
</div>