<div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" :class="{'active': tab==0}" href="#" v-on:click="changeTab(0)">
        THÔNG TIN HÀNH CHÍNH
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" :class="{'active': tab==1}" href="#" v-on:click="changeTab(1)">
        Thông tin người bệnh
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" :class="{'active': tab==2}" href="#" v-on:click="changeTab(2)">
        Chẩn đoán
      </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" :class="{'active': tab==3}" href="#" v-on:click="changeTab(3)">
          Tình trạng ra viện
        </a>
      </li>
  </ul>

  <tthc :hsba_id="hsba_id" v-if="tab==0"></tthc>
  <ttnb :hsba_id="hsba_id" v-if="tab==1"></ttnb>
  <chandoan :hsba_id="hsba_id" v-if="tab==2"></chandoan>
  <ttrv :hsba_id="hsba_id" v-if="tab==3"></ttrv>
</div>