<% include ../../header.html %>

<div id="content-wrapper" class="bg-light">
  <div class="font-weight-bold text-uppercase"></div>
  <div id="content" class="bg-white mt-2">
    <div id="app">
      <template>
        <div>
          <div style="display:flex">
            <div class="mt-2" v-if="backURL">
              <a class="btn btn-sm btn-secondary" :href="backURL">
                <i class="fas fa-fw fa-arrow-left"></i>Quay lại
              </a>
            </div>
            <div class="ml-3" style="display: flex;">
              <div style="display: inline-block; align-self: flex-end;">
                <b>Chỉnh sửa hồ sơ bệnh án : {{ mayte }}</b>
              </div>
            </div>
          </div>

          <div class="d-flex mt-2">
            <ul style="min-width:220px" class="nav nav-tabs flex-column ml-3 mr-3">
              <li v-for="(tabname, i) in tabs" class="nav-item">
                <a class="nav-link" :class="{'active': tab==i}" v-on:click="changeTab(i)" href="#">
                  {{ tabname }}
                </a>
              </li>
            </ul>
            <div style="flex-grow: 0.8">
              <qlybn :hsba_id="hsba_id" v-if="tab==0"></qlybn>
              <yhhd :hsba_id="hsba_id" v-if="tab==1"></yhhd>
              <tkba :hsba_id="hsba_id" v-if="tab==2"></tkba>
              <hatt :hsba_id="hsba_id" v-if="tab==3"></hatt>
              <pttt :hsba_id="hsba_id" v-if="tab==4"></pttt>
              <xetnghiem :hsba_id="hsba_id" v-if="tab==5"></xetnghiem>
              <cdha :hsba_id="hsba_id" v-if="tab==6"></cdha>
              <tdcn :hsba_id="hsba_id" v-if="tab==7"></tdcn>
              <gpb :hsba_id="hsba_id" v-if="tab==8"></gpb>
              <hoichan :hsba_id="hsba_id" v-if="tab==9"></hoichan>
              <dieutri :hsba_id="hsba_id" v-if="tab==10"></dieutri>
              <chamsoc :hsba_id="hsba_id" v-if="tab==11"></chamsoc>
              <chucnangsong :hsba_id="hsba_id" v-if="tab==12"></chucnangsong>
              <donthuoc :hsba_id="hsba_id" v-if="tab==13"></donthuoc>
              <giayto :hsba_id="hsba_id" v-if="tab==14"></giayto>
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>
</div>

<script>
  const store = new Vuex.Store({
    state: {
      emrDmTinhThanh: null,
      emrDmQuanHuyen: null,
      emrDmPhuongXa: null,
      emrDmMaBenhChandoannoidens: [],
      emrDmMaBenhChandoankkbs:[],
      emrDmMaBenhChandoanbenhchinhs: [],
      emrDmMaBenhChandoankemtheos: [],
      emrDmMaBenhChandoanravienchinhs: [],
      emrDmMaBenhChandoanravienkemtheos: [],
      emrDmPhauThuThuat: null,
      emrDmMaBenhChandoantruocs: [],
      emrDmMaBenhChandoansaus: [],
      emrDmChanDoanHinhAnh: null,
      emrDmThamDoChucNang: null,
      emrDmGiaiPhauBenh: null,
      emrDmXetNghiem: null,
      emrDmChiSoXetNghiem: null,
      emrDmThuoc: null,
      emrDmtanXuatDungThuoc: null,
      emrDmDuongDungThuoc: null
    },

    mutations: {
      setValue: function (state, { key, value }) {
        state[key] = value;
      },
    }
  })
</script>

<script src="/pages/hsba/edit/danhmuc_popup/danhmuc.js"></script>
<script src="/pages/hsba/edit/qly_benhnhan/qlybn.js"></script>
<script src="/pages/hsba/edit/yhoc_hiendai/yhhd.js"></script>
<script src="/pages/hsba/edit/tongket_benh_an/tkba.js"></script>
<script src="/pages/hsba/edit/hinhanh_tonthuong/hatt.js"></script>
<script src="/pages/hsba/edit/phauthuat_thuthuat/pttt.js"></script>
<script src="/pages/hsba/edit/xetnghiem/xetnghiem.js"></script>
<script src="/pages/hsba/edit/chandoan_hinhanh/cdha.js"></script>
<script src="/pages/hsba/edit/thamdo_chucnang/tdcn.js"></script>
<script src="/pages/hsba/edit/giaiphau_benh/gpb.js"></script>
<script src="/pages/hsba/edit/hoichan/hoichan.js"></script>
<script src="/pages/hsba/edit/dieutri/dieutri.js"></script>
<script src="/pages/hsba/edit/chamsoc/chamsoc.js"></script>
<script src="/pages/hsba/edit/chucnangsong/chucnangsong.js"></script>
<script src="/pages/hsba/edit/donthuoc/donthuoc.js"></script>
<script src="/pages/hsba/edit/giayto/giayto.js"></script>

<script>
  new Vue({
    el: "#app",
    data: {
      tabs: [
        'Quản lý bệnh nhân',
        'Y học hiện đại',
        'Tổng kết bệnh án',
        'Hình ảnh tổn thương',
        'Phẫu thuật thủ thuật',
        'Xét nghiệm',
        'Chẩn đoán hình ảnh',
        'Thăm dò chức năng',
        'Giải phẫu bệnh',
        'Hội chẩn',
        'Điều trị',
        'Chăm sóc',
        'Theo dõi chức năng sống',
        'Đơn thuốc',
        'Các giấy tờ đi kèm khác'
      ],
      tab: 0,
      step: 0,
      backURL: null,
      mayte: '',
      hsba_id: null
    },

    methods: {
      changeTab(tab) {
        if (tab != this.tab && sessionStorage.getItem('dataChange')) {
          if (!confirm('Bạn sẽ mất dữ liệu đang sửa nếu chuyển tab, tiếp tục?')) {
            return;
          }
        }
        sessionStorage.removeItem('dataChange');
        this.tab = tab;
      }
    },

    created: async function () {
      this.backURL = this.getParam("backURL");
      this.mayte = this.getParam("mayte");
      this.hsba = await this.get('/api/hsba/get_hsba_by_ma', { mayte: this.mayte });
      this.hsba_id = this.hsba.id;
      sessionStorage.removeItem('dataChange');
    }
  });
</script>

<% include ../../footer.html %>