<style>
  #app {
    overflow: scroll;
    width: 100%;
  }
</style>

<div id="app">
  <template v-if="total == 0">
    <b>Không có dữ liệu</b>
  </template>
	<div v-if="backURL">
			<a class="btn btn-sm btn-secondary" :href="backURL">
				<i class="fas fa-fw fa-arrow-left"></i>Quay lại
			</a>
	</div>
  <template>
      <div class="row">
	     	<div class="box-content">
	        <div class="row">
		        <div class="col-3">
		        	<label for="input-none">Mã yêu cầu cấp quyền truy cập:</label><br/>
		        </div>
		        <div class="col-3">
		        	<label for="input-none"></label><br/>
		        </div>
		        <div class="col-3">
		        	<label for="input-none">Người yêu cầu:</label><br/>
		        </div>
		        <div class="col-3">
		        	<label for="input-none"></label><br/>
		        </div>
	        </div>
	        <div class="row">
		        <div class="col-3">
		        	<label for="input-none">Ngày yêu cầu:</label><br/>
		        </div>
		        <div class="col-3">
		        	<label for="input-none"></label><br/>
		        </div>
		        <div class="col-3">
		        	<label for="input-none">Ngày cấp phép:</label><br/>
		        </div>
		        <div class="col-3">
		        	<label for="input-none"></label><br/>
		        </div>
	        </div>
	          <div class="row">
		        <div class="col-3">
		        	<label for="input-none">Thời gian hết hạn truy cập:</label><br/>
		        </div>
		        <div class="col-3">
		        	<label for="input-none"></label><br/>
		        </div>
		        <div class="col-3">
		        	<label for="input-none">Trạng thái:</label><br/>
		        </div>
		        <div class="col-3">
		        	<label for="input-none"></label><br/>
		        </div>
	        </div>
	         <div class="row">
		        <div class="col-3">
		        	<label for="input-none">Số điện thoại:</label><br/>
		        </div>
		        <div class="col-3">
		        	<label for="input-none"></label><br/>
		        </div>
		        <div class="col-3">
		        	<label for="input-none">Nơi công tác:</label><br/>
		        </div>
		        <div class="col-3">
		        	<label for="input-none"></label><br/>
		        </div>
	        </div>
	         <div class="row">
		        <div class="col-3">
		        	<label for="input-none">Lý do  </label><br/>
		        </div>
		        <div class="col-9">
		        	<label for="input-none"></label><br/>
		        </div>
	        </div>
	     </div>
      </div>
      <br/>
    <table class="table table-bordered table-width-100" v-if="total > 0">
      <thead>
        <tr>
          <th style="width:5%">STT</th>
          <th style="width:2%">Mã hồ sơ</th>
          <th style="width:12%">Tên bệnh nhân</th>
          <th style="width:25%">Loại bệnh án</th>
          <th style="width:7%">Mã Y tế</th>
          <th style="width:10%">Ngày tạo</th>
          <th style="width:10%">Ngày lưu trữ</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(hs, index) in items">
          <td>{{ index + offset + 1 }}</td>
          <td>{{ hs.so_benh_an }}</td>
          <td>{{ hs.ten_benh_nhan }}</td>
          <td>{{ hs.loai_benh_an }}</td>
          <td>{{ hs.ma_yte }}</td>
          <td>{{ hs.ngay_tiepnhan }}</td>
          <td>{{ hs.ngay_ravien }}</td>
        </tr>
      </tbody>
    </table>
    <b-pagination v-if="total > perPage" size="sm" v-model="currentPage" :total-rows="total" :per-page="perPage"></b-pagination>
    <label class="label">Tổng số : {{ total }} bản ghi</label>
  </template>
</div>
<script>
  new Vue({
    el: "#app",
    data: {  
    	perPage: 5,
    	currentPage: null,
    	items: [],
    	total : null,
    	ma_yte : '',
    	 backURL : null,  
    },
    
    methods: {
	  getTotal: async function() {
		this.total = await this.get("/api/hsba/count_ds_hs", {trangthai: 1, ma_yte : this.ma_yte});

	  },

	  getItems : async function() {
		this.items = await this.get("/api/hsba/get_ds_hs", 
				{ trangthai: 1, start: this.offset, count: this.perPage, ma_yte : this.ma_yte });		
	  },
	  
	  timKiemHoso : async function() {
	    this.currentPage = 1;
	    location.href = this.currentURL;
	  }
    },
    
    computed: {      
      offset() {
        return (this.currentPage - 1) * this.perPage;
	  },

	  currentURL() {
		return this.createURL("", {ma_yte: this.ma_yte, currentPage: this.currentPage})
	  }
    },
    
    watch: {
      currentPage : async function(newVal, oldVal) {
		if(oldVal){	  
		  location.href = this.currentURL;
		}
      }
    },
    
    created: async function () {
    	this.backURL = this.getParam("backURL");
      this.currentPage = this.getParam("currentPage") || 1;
      this.ma_yte = this.getParam("ma_yte") || "";
      await this.getTotal();
      await this.getItems();	  
    }
  });
</script>