<% include ../../header.html %>

<div class="container mt-3" id='app'>
	<h5>Báo cáo thống kê trao đổi hồ sơ bệnh án </h5>
	<div class="row mt-2">
		<div class="col-6">
			<label>Cơ sở khám bệnh</label>
			<select v-model='maCoSoKhamBenh' class="form-control">
				<option value="">---Tất cả các bệnh viện---</option>
				<option v-for='cskb in cskbList' :value="cskb.ma">
					{{ cskb.ten}}
				</option>
			</select>
		</div>	
		<div class="col-6">
			<label>Loại bệnh án</label>	
			<select  v-model='maLoaiBenhAn' class="form-control">
				<option value="">----Chọn loại bệnh án---</option>
				<option v-for='lba in lbaList' :value="lba.ma">
					{{lba.ten}}
				</option>
			</select>
		</div>	
	</div>
	<div class="row mt-3">
		<div class="col-4">
			<label  class="label-title" >Từ ngày</label>
			<date-picker v-model="tuNgay" :config="{format: 'DD/MM/YYYY', sideBySide:true}"></date-picker>
		</div>
		<div class="col-4">
			<label  class="label-title" >Đến ngày</label>
			<date-picker v-model="denNgay" :config="{format: 'DD/MM/YYYY', sideBySide:true}"></date-picker>
		</div>
		<div class="col-4">
			<label>Loại báo cáo</label>
			<select v-model='loaiBaoCao' class="form-control">
				<option value="">Tất cả</option>
				<option value="1">Chuyển đến</option>
				<option value="2">Chuyển đi</option>
			</select>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-12" >
			<label>&nbsp;</label><br>
			<button class="btn btn-primary" v-on:click="search()">Tìm kiếm</button>
		</div>	
	</div>
	<div class="row mt-3">
		<div class="col-12" v-if="report">
			<table class="table table-bordered">
				<tr>
					<th class="text-center">STT</th>
					<th class="text-center">Loại bệnh án</th>
					<th class="text-center">Số hồ sơ chờ xử lý</th>
					<th class="text-center">Số hồ sơ đã lưu</th>
				</tr>
				<tr v-for='(item,i) in currentItems'>
					<td class="text-center">{{i + 1 + offset}}</td>
					<td class="text-center">{{item.lba}}</td>
					<td class="text-center">{{item.chuaxuly}}</td>
					<td class="text-center">{{item.daluu}}</td>
                </tr>		
                <tr v-if="report.length==0">
                    <td colspan="4">Không có dữ liệu</td>
                </tr>	
			</table>
			<div v-if="rows > perPage">
				<b-pagination  v-model="currentPage"  :total-rows="rows"  :per-page="perPage"></b-pagination>
				<p class="mt-3">Trang {{ currentPage }} / {{ Math.ceil(rows/perPage) }}</p>			
			</div>
		</div>
	</div>	
</div>
<script>
	new Vue({
		el: '#app',
		data: {
			maCoSoKhamBenh: '',
			maLoaiBenhAn:'',
			tuNgay:'',
			denNgay:'',
			loaiBaoCao: '',
			cskbList : [],
			lbaList : [],
			report: null,
			currentPage: 1,
			perPage: 5
		},
//Coso kham benh : http://emr.com.vn:8001/api/coso_khambenh/get_all_cskb
//Loai benh an: http://emr.com.vn:8001/api/danhmuc/get_all_dm_list?dm_type=DM_LOAI_BENH_AN
		methods : {			
			serialize: function(obj) {
			  var str = [];
			  for (var param in obj) {
			    str.push(encodeURIComponent(param) + "=" + encodeURIComponent(obj[param]));
			  }
			  return str.join("&");
			},
			get: async function(url, params) {
				if(params) {
					url = url + '?' + this.serialize(params);
				}
				console.log(url);
				var resp = await fetch(url);
				return resp.json();
			},
			search: async function() {
				var params = {
					maLoaiBenhAn: this.maLoaiBenhAn,
					maCoSoKhamBenh: this.maCoSoKhamBenh,
					//loaiBaoCao: this.loaiBaoCao,
					startDate: this.tuNgay? this.tuNgay + " 00:00" : "",
					endDate: this.denNgay? this.denNgay + " 00:00": ""
				};
				console.log(params);
				var result = await this.get("http://emr.com.vn:8001/api/hsba/report", params);
				console.log(result);
				this.report = [];
				for(var key in result) {
					var loaiBenhAn = this.lbaList.find(x => x.ma == key).ten;
					var soluong = result[key];
					this.report.push({
						lba: loaiBenhAn, 
						chuaxuly: soluong[0],
						daluu: soluong[1]
					});
				}
				console.log(this.report);
			}
		},

computed: {
		  rows() {
			return this.report.length
		  },
		  currentItems() {
		    return this.report.slice((this.currentPage -1) * this.perPage, this.currentPage * this.perPage)
		  }	,
		  offset() {
		  	return (this.currentPage -1) * this.perPage;
		  }	  
		},
created: async function() {
			this.cskbList = await  this.get('http://emr.com.vn:8001/api/coso_khambenh/get_all_cskb');
			this.lbaList = await  this.get('http://emr.com.vn:8001/api/danhmuc/get_all_dm_list?dm_type=DM_LOAI_BENH_AN');
		}
})
</script>


			