<div v-if="pttt" class="mt-3">
  <div class="row">
    <div class="col-6">
      <label>Ngày, giờ thực hiện</label>
      <input class="form-control" v-model="pttt.ngaygiopttt">
    </div>
    <div class="col-6">
      <label>Tên phẫu thuật, thủ thuật</label>
      <input class="form-control" v-model="pttt.emrDmPhauThuThuat.ten">
    </div>
  </div>
  <div class="mt-3">
    <button type="button" v-on:click="viewPtttList()" class="btn btn-sm btn-secondary">Quay lại</button>
    <button type="button" class="btn btn-sm btn-primary">Lưu lại</button>
  </div>
</div>