<div v-if="pttt_list">
  <table class="table table-bordered">
    <tr>
      <th style="width: 5%;" class="text-center">STT</th>
      <th style="width: 15%;" class="text-center">Thao tác</th>
      <th style="width: 30%;" class="text-center">Phẫu thuật/thủ thuật</th>
      <th style="width: 30%;" class="text-center">Bác sĩ thực hiện</th>
      <th style="width: 20%;" class="text-center">Ngày thực hiện</th>
    </tr>
    <tr v-for="(pttt, i) in pttt_list">
      <td class="text-center">{{ i + 1 }}</td>
      <td class="text-center">
        <a href='#' v-on:click="editPttt(pttt)" title="Chỉnh sửa">
          <i class="fas fa-fw fa-lg fa-edit"></i>
        </a>

        <a href='#' v-on:click="editFiles(pttt)" title="Quản lý file đính kèm">
          <i class="fas fa-fw fa-lg fa-file"></i>
        </a>

        <a href='#' v-on:click='deletePttt(pttt.id)' title="Xóa">
          <i class="fas fa-fw fa-lg fa-trash" style="color:red"></i>
        </a>
      </td>
      <td class="text-center">{{ pttt.emrDmPhauThuThuat.ten }}</td>
      <td class="text-center">{{ pttt.bacsithuchien }}</td>
      <td class="text-center">{{ pttt.ngaygiopttt }}</td>
    </tr>
  </table>
</div>