<div v-if="chamsoc_list">
  <div class="row mt-3">
    <div class="col-12">
      <label class="label-title label-bold">Danh sách chăm sóc</label>
      <a v-on:click="addChamsoc()" class="mt-1" href='#' title="Thêm"><i class="fas fa-fw fa-lg fa-plus-circle"></i></a>
    </div>
  </div>
  <table class="table table-bordered">
    <tr>
      <th style="width: 5%;" class="text-center">STT</th>
      <th style="width: 15%;" class="text-center">Thao tác</th>
      <th style="width: 40%;" class="text-center">Khoa điều trị</th>
      <th style="width: 40%;" class="text-center">Số tờ chăm sóc</th>
    </tr>
    <tr v-for="(chamsoc, i) in chamsoc_list ">
      <td class="text-center">{{ i + 1 }}</td>
      <td class="text-center">
        <a href='#' v-on:click="editChamsoc(chamsoc)" title="Chỉnh sửa">
          <i class="fas fa-fw fa-lg fa-edit"></i>
        </a>

        <a href='#' v-on:click="editFiles(chamsoc)" title="Quản lý file đính kèm">
          <i class="fas fa-fw fa-lg fa-file"></i>
        </a>

        <a href='#' v-on:click='deleteChamsoc(chamsoc.id)' title="Xóa">
          <i class="fas fa-fw fa-lg fa-trash" style="color:red"></i>
        </a>
      </td>
      <td class="text-center">{{ chamsoc.emrVaoKhoa.emrDmKhoaDieuTri.ten }}</td>
      <td class="text-center">{{ chamsoc.sotochamsoc }}</td>
    </tr>
    <tr v-if="chamsoc_list.length == 0">
      <td colspan="4">Không có dữ liệu</td>
    </tr>
  </table>
</div>