<div v-if="dieutri_list">
  <table class="table table-bordered">
    <tr>
      <th style="width: 5%;" class="text-center">STT</th>
      <th style="width: 15%;" class="text-center">Thao tác</th>
      <th style="width: 20%;" class="text-center">Số tờ điều trị</th>
      <th style="width: 30%;" class="text-center">Khoa điều trị</th>
      <th style="width: 30%;" class="text-center">Ngày điều trị</th>

    </tr>
    <tr v-for="(dieutri, i) in dieutri_list">
      <td class="text-center">{{ i + 1 }}</td>
      <td class="text-center"><a href="#" v-on:click="viewDieutri(dieutri)"><i class="fas fa-fw fa-binoculars"></i>
          Xem</a></td>
      <td class="text-center">{{ dieutri.sotodieutri }}</td>
      <td class="text-center">{{ getTenKhoa(dieutri.emrVaoKhoa) }}</td>
      <td class="text-center">{{ dieutri.ngaydieutri }}</td>
    </tr>
  </table>
</div>