<div v-if="hoichan" class="mt-3">
  <div class="row mt-3">
    <div class="col-6">
      <label class="label-title">Khoa điều trị</label>
      <input class="form-control" :value="getTenKhoa(hoichan.emrVaoKhoa)">
    </div>
    <div class="col-6">
      <label class="label-title">Ngày, giờ thực hiện</label>
      <date-picker v-model="hoichan.ngaythuchien" :config="{format: 'DD/MM/YYYY HH:mm', sideBySide:true}"></date-picker>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <label class="label-title">Tóm tắt diễn biến</label>
      <textarea rows="3" class="form-control" v-model="hoichan.tomtatdienbien"></textarea>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <label class="label-title">Kết luận</label>
      <textarea rows="3" class="form-control" v-model="hoichan.ketluanhoichan"></textarea>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <label class="label-title">Hướng điều trị</label>
      <textarea rows="3" class="form-control" v-model="hoichan.huongdieutri"></textarea>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <label class="label-title label-bold">Danh sách thành viên tham gia</label>
      <a v-on:click="addTvhc()" class="mt-1" href='javascript:void(0)' title="Thêm">
        <i class="fas fa-fw fa-lg fa-plus-circle"></i>
      </a>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12">
      <table class="table table-bordered">
        <tr>
          <th style="width:5%" class="text-center">STT</th>
          <th style="width:40%" class="text-center">Tên bác sĩ</th>
          <th style="width:45%" class="text-center">Vai trò</th>
          <th style="width:10%" class="text-center">Thao tác</th>
        </tr>
        <tr v-if="hoichan.emrThanhVienHoiChans" v-for="(tvhc,i) in hoichan.emrThanhVienHoiChans">
          <td class="text-center">{{i + 1}}</td>
          <td><input class="form-control" v-model="tvhc.tenbacsi"></td>
          <td>
            <select class="form-control" v-model="tvhc.emrDmVaiTro.ma">
              <option value="">------</option>
              <option v-for="emrDm in emrVaiTroHoichans" :value="emrDm.ma"> 
                {{emrDm.ten}}
              </option>
            </select>
          </td>
          <td class="text-center">
            <a v-on:click="deleteTvhc(i)" href='javascript:void(0)' title="Xóa">
              <i class="fas fa-fw fa-lg fa-trash" style="color:red"></i>
            </a>
          </td>
        </tr>
        <tr v-if="hoichan.emrThanhVienHoiChans.length==0">
          <td colspan="4">Không có dữ liệu</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="mt-3 mb-3">
    <button type="button" v-on:click="saveHoichan()" class="btn btn-sm btn-primary">Lưu lại</button>
    <button type="button" v-on:click="viewHoichanList()" class="btn btn-sm btn-secondary">Quay lại</button>    
  </div>
</div>