<div v-if="donthuoc" class="mt-3">
  <div class="row">
    <div class="col-4">
      <label class="label-title">Số đơn</label>
      <input class="form-control" v-model="donthuoc.sodon">
    </div>
    <div class="col-4">
      <label class="label-title">Ngày kê đơn</label>
      <date-picker v-model="donthuoc.ngaykedon" :config="{format: 'DD/MM/YYYY HH:mm', sideBySide:true}"></date-picker>
    </div>
    <div class="col-4">
      <label class="label-title">Bác sỹ kê đơn</label>
      <input class="form-control" v-model="donthuoc.bacsikedon">
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <label class="label-title label-bold">Danh sách thuốc</label>
      <a v-on:click="addDtct()" class="mt-1" href='javascript:void(0)' title="Thêm">
        <i class="fas fa-fw fa-lg fa-plus-circle"></i>
      </a>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12">
      <table class="table table-bordered">
        <tr>
          <th style="width:5%" class="text-center">STT</th>
          <th style="width:10%" class="text-center">Biệt dược</th>
          <th style="width:10%" class="text-center">Thuốc</th>
          <th style="width:15%" class="text-center">Ngày bắt đầu</th>
          <th style="width:15%" class="text-center">Ngày kết thúc</th>
          <th style="width:10%" class="text-center">Đường dùng</th>
          <th style="width:10%" class="text-center">Liều lượng</th>
          <th style="width:10%" class="text-center">Tần suất</th>
          <th style="width:10%" class="text-center">Chỉ dẫn</th>
          <th style="width:5%" class="text-center">Thao tác</th>
        </tr>
        <tr v-if="donthuoc.emrDonThuocChiTiets" v-for="(dtct,i) in donthuoc.emrDonThuocChiTiets">
          <td class="text-center">{{i + 1}}</td>
          <td><input class="form-control" v-model="dtct.bietduoc"></td>
          <td>
            <input v-on:click="openDmThuocModal(dtct)"
              readonly class="form-control" 
              :value="attr(dtct, 'emrDmThuoc.ten')"
              :title="attr(dtct, 'emrDmThuoc.ten')">
          </td>

          <td>
            <date-picker v-model="dtct.ngaybatdau" :config="{format: 'DD/MM/YYYY HH:mm', sideBySide:true}">
            </date-picker>
          </td>
          
          <td>
            <date-picker v-model="dtct.ngayketthuc" :config="{format: 'DD/MM/YYYY HH:mm', sideBySide:true}">
            </date-picker>
          </td>
          
          <td>
            <input v-on:click="openDmDuongDungThuocModal(dtct)"
              class="form-control" 
              :value="attr(dtct, 'emrDmDuongDungThuoc.ten')"
              :title="attr(dtct, 'emrDmDuongDungThuoc.ten')">
          </td>
          <td><input class="form-control" v-model="dtct.lieuluongdung"></td>
          <td>
            <input v-on:click="openDmTanSuatDungThuocModal(dtct)"
              class="form-control" 
              :value="attr(dtct, 'emrDmTanSuatDungThuoc.ten')" 
              :title="attr(dtct, 'emrDmTanSuatDungThuoc.ten')">
          </td>
          <td><input class="form-control" v-model="dtct.chidandungthuoc"></td>

          <td class="text-center">
            <a v-on:click="deleteDtct(i)" href='javascript:void(0)' title="Xóa">
              <i class="fas fa-fw fa-lg fa-trash" style="color:red"></i>
            </a>
          </td>
        </tr>
        <tr v-if="donthuoc.emrDonThuocChiTiets==0">
          <td colspan="10">Không có dữ liệu</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="mt-3 mb-3">
    <button type="button" v-on:click="saveDonthuoc()" class="btn btn-sm btn-primary">Lưu lại</button>
    <button type="button" v-on:click="viewDonthuocList()" class="btn btn-sm btn-secondary">Quay lại</button>    
  </div>

  <danhmuc-popup id="dmThuocSelect" :value="emrDmThuoc" name="emrDmThuoc" title="Thuốc" dm_type="DM_THUOC"></danhmuc-popup>
  <danhmuc-popup id="dmDuongDungThuocSelect" :value="emrDmDuongDungThuoc" name="emrDmDuongDungThuoc" title="Đường dùng thuốc" dm_type="DM_DUONG_DUNG_THUOC"></danhmuc-popup>
  <danhmuc-popup id="dmTanSuatDungThuocSelect" :value="emrDmTanSuatDungThuoc" name="emrDmTanSuatDungThuoc" title="Tần suất dùng thuốc" dm_type="DM_TAN_SUAT_DUNG_THUOC"></danhmuc-popup>

</div>