<div v-if="hsba" class="frame">
  <tomtat :hsba="hsba" title='CÁC GIẤY TỜ ĐI KÈM KHÁC'></tomtat>
  <hr>

  <b>Các giấy tờ khác kèm theo:</b> 
  <table class='table table-bordered mt-3'>
    <tr>
      <th style='width:10%' class="text-center">STT</th>
      <th style='width:90%' class="text-center">Tên file</th>
    </tr>
    <tr v-for="(file, i) in hsba.emrFileDinhKems">
      <td>{{ i + 1 }}</td>
      <td><a :href="file.duongdan">{{ file.tenfile }}</a></td>
    </tr>
    <tr v-if="hsba.emrFileDinhKems.length==0">
      <td colspan="2">Không có dữ liệu</td>
    </tr>
  </table>
</div>