<div v-if="hoichan_list">
  <table class="table table-bordered">
    <tr>
      <th style="width: 5%;" class="text-center">STT</th>
      <th style="width: 15%;" class="text-center">Thao tác</th>
      <th style="width: 40%;" class="text-center">Ngày giờ hội chẩn</th>
      <th style="width: 40%;" class="text-center">Khoa điều trị</th>
    </tr>
    <tr v-for="(hoichan, i) in hoichan_list">
      <td class="text-center">{{ i + 1 }}</td>
      <td class="text-center">
        <a href="#" v-on:click="viewHoichan(hoichan)"
          ><i class="fas fa-fw fa-binoculars"></i> Xem</a
        >
      </td>
      <td class="text-center">{{ hoichan.ngaythuchien }}</td>
      <td class="text-center">{{ getTenKhoa(hoichan.emrVaoKhoa) }}</td>
    </tr>
    <tr v-if="hoichan_list.length==0">
      <td colspan="4">Không có dữ liệu</td>
    </tr>
  </table>

  <div class="modal fade" id="hoichanModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <strong>Thông tin hội chẩn</strong>
          </h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div v-if="hoichan" class="modal-body">
          <tomtat :hsba="hsba" title="PHIẾU HỘI CHẨN"></tomtat>
          <hr />
          <div>
            <meta charset="UTF-8" />
            <table border="1" cellpadding="10" class="table table-bordered">
              <div class="row">
                <div class="col-12">
                  <b>Hội chẩn lúc: {{ hoichan.ngaythuchien }}</b><br />
                  <span>- Tại khoa: {{ getTenKhoa(hoichan.emrVaoKhoa) }}</span
                  ><br />
                  <div class="row">
                    <div class="col-6">
                      <span>- Bác sĩ chủ tọa:</span>
                      <span>{{ bacsichutoa }}</span>
                    </div>
                    <div class="col-6">
                      <span>- Thư ký:</span>
                      <span>{{ thuky }}</span>
                    </div>
                    <div class="col-6"></div>
                  </div>
                  <span>- Thành viên tham gia:</span>
                  <ul>
                    <li v-for="bs in hoichan.emrThanhVienHoiChans">
                      {{ bs.tenbacsi }}
                    </li>
                  </ul>
                </div>
              </div>
              <hr />

              <div class="row">
                <div class="col-12">
                  <b><span>Tóm tắt diễn biến</span> <br /></b>
                  <span>{{ hoichan.tomtatdienbien }}</span>
                </div>
              </div>
              <hr />

              <div class="row">
                <div class="col-12">
                  <b><span>Kết luận</span> <br /></b>
                  <span>{{ hoichan.ketluanhoichan }}</span>
                </div>
              </div>
              <hr />

              <div class="row">
                <div class="col-12">
                  <b><span>Hướng điều trị tiếp theo</span> <br /></b>
                  <span>{{ hoichan.huongdieutri }}</span>
                </div>
              </div>

              <div v-if="hoichan.emrFileDinhKemHoiChans.length > 0">
                <hr />
                <b>Danh sách file đính kèm:</b>
                <table class="table table-bordered mt-3">
                  <tr>
                    <th style="width:10%" class="text-center">STT</th>
                    <th style="width:90%" class="text-center">Tên file</th>
                  </tr>
                  <tr v-for="(file, i) in hoichan.emrFileDinhKemHoiChans">
                    <td>{{ i + 1 }}</td>
                    <td><a :href="file.duongdan">{{ file.tenfile }}</a></td>
                  </tr>
                </table>
              </div>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Đóng lại
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
