<div v-if="chucnangsong">
  <a href="#" v-on:click="xemDsChucNangSong"><i class="fas fa-fw fa-arrow-left"></i> Quay lại</a>
  <div class="frame mt-3">
    <div class="row">
      <div class="col-8">
        <span>{{ hsba.donvichuquan }}</span><br>
        <span>BV: {{ hsba.tenbenhvien }}</span>
      </div>
      <div class="col-4">
        <span>Số lưu trữ:</span><br>
        <span>Mã y tế:</span> <span>{{ hsba.mayte }}</span>
      </div>
    </div>
    <div style="text-align: center;" class="mt-3 mb-3">
      <h3>PHIẾU THEO DÕI CHỨC NĂNG SỐNG</h3>
    </div>
    <div class="row">
      <div class="col-8">
        <span>Tên bệnh nhân:</span> <b><span class='text-uppercase'>{{ hsba.emrBenhNhan.tendaydu }}</span></b><br>
        <span>Ngày sinh:</span> <span>{{ formatDate(hsba.emrBenhNhan.ngaysinh) }}</span><br>
        <span>Ngày vào viện:</span>
        <span>{{ formatDateTime(hsba.emrQuanLyNguoiBenh.ngaygiovaovien) }}</span><br>
      </div>
      <div class="col-4">
        <span>Giới tính:</span> <span>{{ hsba.emrBenhNhan.emrDmGioiTinh.ten }}</span><br>
        <span>Tuổi:</span> <span>{{ hsba.emrBenhNhan.tuoi }}</span><br>
        <span>Ngày ra viện:</span> <span>{{ formatDateTime(hsba.emrQuanLyNguoiBenh.ngaygioravien) }}</span><br>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-12">
        <b>Phiếu theo dõi chức năng sống số: {{ chucnangsong.sophieu }}</b><br>
        <span>- Tại khoa: {{ getTenKhoa(chucnangsong.emrVaoKhoa) }}</span><br>
      </div>
    </div>
    <table class='table table-bordered mt-3'>
      <tr>
        <th style='width:5%' class="text-center">STT</th>
        <th style='width:20%' class="text-center">Ngày thực hiện</th>
        <th style='width:10%' class="text-center">Mạch</th>
        <th style='width:10%' class="text-center">Nhiệt độ</th>
        <th style='width:10%' class="text-center">Huyết áp</th>
        <th style='width:10%' class="text-center">Cân nặng</th>
        <th style='width:10%' class="text-center">Nhịp thở</th>
        <th style='width:25%' class="text-center">Y tá thực hiện</th>
      </tr>
      <tr v-for="(cnsct, i) in chucnangsong.emrChucNangSongChiTiets">
        <td>{{ i + 1}}</td>
        <td>{{ formatDateTime(cnsct.ngaytheodoi) }}</td>
        <td class="text-center">{{ cnsct.mach }}</td>
        <td class="text-center">{{ cnsct. nhietdo }}</td>
        <td class="text-center">{{ cnsct.huyetapcao}}/{{ cnsct.huyetapthap }}</td>
        <td class="text-center">{{ cnsct.cannang }}</td>
        <td class="text-center">{{ cnsct.nhiptho }}</td>
        <td class="text-center">{{ cnsct.ytatheodoi }}</td>
      </tr>
    </table>

    <div v-if="chucnangsong.emrQuanLyFileDinhKemChucNangSongs.length > 0">
      <hr>
      <b>Danh sách file đính kèm:</b>
      <table class='table table-bordered mt-3'>
        <tr>
          <th style='width:10%' class="text-center">STT</th>
          <th style='width:90%' class="text-center">Tên file</th>
        </tr>
        <tr v-for="(file, i) in chucnangsong.emrQuanLyFileDinhKemChucNangSongs">
          <td>{{ i + 1 }}</td>
          <td><a :href="file.duongdan">{{ file.tenfile }}</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>