<% include ../../header.html %>
<link href="/css/dashboard.css" rel="stylesheet" />
<div id="content-wrapper" class="bg-light">
  <div class="font-weight-bold text-uppercase"></div>
  <div id="content" class="bg-white mt-2">
    <div id="app">
      <template v-if="patient != null">
        <div class="panel panel-default">
          <div class="text-right MB20">
            <a class="btn-info bo50 btn-pd" href="#"
              ><i class="fa fa-print faR10" aria-hidden="true"></i>In</a
            >
            <a
              class="btn-warning bo50 btn-pd"
              :href="createURL('/pages/patient/patient_search.html')"
            >
              <i class="fa fa-arrow-left faR10" aria-hidden="true"></i>Quay
              lại</a
            >
          </div>
          <!--bt-->
          <div class="row row-eq-height">
            <div class="col-6 offset-3">
                <div class="box">
                  <p class=" MB0">
                    <h2>
                      <span class="text-ten">
                        {{ patient.tendaydu}} | {{ patient.iddinhdanhchinh }} </span>
                    </h2>
                  </p>
                    <span class="text-label1">Giới tính: </span>{{
                      patient.emrDmGioiTinh.ten }} <br>
                    <span class="text-label1">Ngày sinh: </span>{{
                        patient.ngaysinh }} <br>
                    <span class="text-label2">Dân tộc: </span>{{
                            patient.emrDmDanToc.ten }} <br>
                    <span class="text-label2">Tôn giáo: </span>{{
                              patient.religion }} <br>
                    <span class="text-danger"
                        ><i class="MR5 fa fa-mobile" aria-hidden="true"></i>{{
                        patient.sodienthoainguoibaotin}}</span>
                    <span class="text-success"
                        ><i class="MR5 fa fa-map-marker" aria-hidden="true"></i
                        >{{patient.diachi}}</span> <br>
                    <span class="text-label2">Đối tượng: </span><br>
                    <span class="text-lable2">
                      Số BHYT:
                    </span>
                    <span class="btn-info bo50 btn-pd1"
                    >  {{ patient.sobhyt }} </span>
              </div>     
            </div>
          </div>
        </div>  
        <div class="panel panel-default">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a
                class="nav-link"
                v-bind:class="{ active: tab == 1}"
                v-bind:style="{ backgroundColor: tab==1? '#1057ae' : '#eee', color: tab==1? '#fff' : '#000',
                            marginBottom : '2px', borderTop : tab==1? '0px' : ''}"
                href="#"
                v-on:click="tab=1"
                >Tổng quan</a
              >
            </li>
            
            <li class="nav-item">
              <a
                class="nav-link"
                style="margin-bottom : '2px',"
                v-bind:class="{ active: tab == 2 }"
                v-bind:style="{ backgroundColor: tab==2? '#1057ae' : '#eee', color: tab==2? '#fff' : '#000',
                            marginBottom : '2px', borderTop : tab==2? '0px' : ''}"
                href="#"
                v-on:click="tab=2"
                >Lịch sử dùng thuốc</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                style="margin-bottom : '2px',"
                v-bind:class="{ active: tab == 3 }"
                v-bind:style="{ backgroundColor: tab==3? '#1057ae' : '#eee', color: tab==3? '#fff' : '#000',
                            marginBottom : '2px', borderTop : tab==3? '0px' : ''}"
                href="#"
                v-on:click="tab=3"
                >Chẩn đoán hình ảnh</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                style="margin-bottom : '2px',"
                v-bind:class="{ active: tab == 4 }"
                v-bind:style="{ backgroundColor: tab==4? '#1057ae' : '#eee', color: tab==4? '#fff' : '#000',
                            marginBottom : '2px', borderTop : tab==4? '0px' : ''}"
                href="#"
                v-on:click="tab=4"
                >Phẫu thuật, thủ thuật</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                style="margin-bottom : '2px',"
                v-bind:class="{ active: tab == 5 }"
                v-bind:style="{ backgroundColor: tab==5? '#1057ae' : '#eee', color: tab==5? '#fff' : '#000',
                            marginBottom : '2px', borderTop : tab==5? '0px' : ''}"
                href="#"
                v-on:click="tab=5"
                >Tài liệu lâm sàng</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                style="margin-bottom : '2px',"
                v-bind:class="{ active: tab == 6 }"
                v-bind:style="{ backgroundColor: tab==6? '#1057ae' : '#eee', color: tab==6? '#fff' : '#000',
                            marginBottom : '2px', borderTop : tab==6? '0px' : ''}"
                href="#"
                v-on:click="tab=6"
                >Chỉ số sinh tồn</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                style="margin-bottom : '2px',"
                v-bind:class="{ active: tab == 7 }"
                v-bind:style="{ backgroundColor: tab==7? '#1057ae' : '#eee', color: tab==7? '#fff' : '#000',
                            marginBottom : '2px', borderTop : tab==7? '0px' : ''}"
                href="#"
                v-on:click="tab=7"
                >Xét nghiệm</a
              >
            </li>
          </ul>
          <div style="border-top: 2px solid #1057ae">
            <div v-if="tab==1" class="tab-pane active padT20">
              <patient-summary></patient-summary>
            </div>
            <div v-if="tab==2">
              <lsdt></lsdt>
            </div>
            <div v-if="tab==3">
              <cdha></cdha>
            </div>
            <div v-if="tab==4">
              <pttt></pttt>
            </div>
            <div v-if="tab==5">
              <tlls></tlls>
            </div>
            <div v-if="tab==6">
              <csst></csst>
            </div>
            <div v-if="tab==7">
              <xetnghiem></xetnghiem>
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>
</div>
<script type="text/javascript">
  VueAsyncComponent(
    "patient-summary",
    "/pages/patient/patient_detail/patient_summary.html",
    {
      data: function() {
        return {
          patientId: 0,
          patient_summary_list: 0,
          patient_summary: null,
          hsba: null,
          tomtathsba: null
        };
      },
      methods: {
        viewTomtathsba: function(tomtathsba) {
        this.tomtathsba = tomtathsba;
        $("#tomtathsbaModal").modal();
      }
      },
     
      created: async function() {
        this.patientId = getParam("id");
        this.patient_summary_list = await this.get("/api/hsba/get_ds_hs_by_bn", {
        benhnhan_id: this.patientId
      });
      console.log(this.cdha_list);
      }
    });
  VueAsyncComponent("cdha", "/pages/patient/patient_detail/cdha.html", {
    data: function() {
      return {
        patientId: 0,
        cdha_list: null,
        cdha: null,
        hsba: null
      };
    },
    methods: {
      viewCdha: function(cdha) {
        this.cdha = cdha;
        $("#cdhaModal").modal();
      }
    },
    created: async function() {
      this.patientId = getParam("id");
      this.cdha_list = await this.get("/api/cdha/get_ds_cdha_by_bn", {
        benhnhan_id: this.patientId
      });
      console.log(this.cdha_list);
    }
  });
  VueAsyncComponent("lsdt", "/pages/patient/patient_detail/lsdt.html", {
    data: function() {
      return {
        patientId: 0,
        lsdt_list: null,
        donthuoc: null,
        hsba: null
      };
    },
    methods: {
      viewDonthuoc: function(donthuoc) {
        this.donthuoc = donthuoc;
        $("#donthuocModal").modal();
      },
    },
    created: async function() {
      this.patientId = getParam("id");
      this.lsdt_list = await this.get("/api/donthuoc/get_ds_donthuoc_by_bn", {
        benhnhan_id: this.patientId
      });
      console.log(this.lsdt_list);
    }
  });
  VueAsyncComponent("pttt", "/pages/patient/patient_detail/pttt.html", {
    data: function() {
      return {
        patientId: 0,
        pttt_list: null,
        pttt: null,
        hsba: null
      };
    },
    methods: {
      viewPttt: function(pttt) {
        this.pttt = pttt;
        $("#ptttModal").modal();
      },
      getTextChanDoans: function(chandoans) {
        if (chandoans && chandoans.length > 0) {
          return chandoans.map(x => x.ma + " - " + x.ten).join(" ; ");
        }
        return "";
      },
      getBacsithuchien: function(pttt) {
        var bacsi = pttt.emrThanhVienPttts.find(
          x =>
            attr(x, "emrDmVaiTro.ma") == "01" ||
            attr(x, "emrDmVaiTro.ma") == "03"
        );
        if (bacsi) {
          return bacsi.tenbacsi;
        }
        return "";
      },
      getBacsigayme: function(pttt) {
        var bacsi = pttt.emrThanhVienPttts.find(
          x => attr(x, "emrDmVaiTro.ma") == "05"
        );
        if (bacsi) {
          return bacsi.tenbacsi;
        }
        return "";
      }
    },
    created: async function() {
      this.patientId = getParam("id");
      this.pttt_list = await this.get("/api/pttt/get_ds_pttt_by_bn", {
        benhnhan_id: this.patientId
      });
      console.log(this.pttt_list);
    }
  });
  VueAsyncComponent("tlls", "/pages/patient/patient_detail/tlls.html", {
    data: function() {
      return {
        patientId: 0
      };
    },
    created: async function() {
      this.patientId = getParam("id");
    }
  });

  VueAsyncComponent("csst", "/pages/patient/patient_detail/csst.html", {
    data: function() {
      return {
        patientId: 0,
        csst_list: null,
        chucnangsong: null,
        hsba: null
      };
    },
    methods: {
      viewChucnangsong: function(chucnangsong) {
        this.chucnangsong = chucnangsong;
        $("#chucnangsongModal").modal();
      },

      getNgayTheoDoi: function(chucnangsong) {
        var ngayTheoDois = chucnangsong.emrChucNangSongChiTiets.map(x => x.ngaytheodoi);
        ngayTheoDois = ngayTheoDois.sort(x => parseDate(x).getTime());

        if (ngayTheoDois.length == 0) {
          return "";
        }
        ngayBatDau = ngayTheoDois[0];
        ngayBatDau = ngayBatDau ? ngayBatDau.substring(0, 10) : "";

        ngayKetThuc = ngayTheoDois[ngayTheoDois.length - 1];
        ngayKetThuc = ngayKetThuc ? ngayKetThuc.substring(0, 10) : "";

        if (ngayBatDau == ngayKetThuc) {
          return ngayBatDau;
        } else {
          return "Từ " + ngayBatDau + " đến " + ngayKetThuc;
        }
      },
      getTenKhoa: function(khoadieutri) {
        return khoadieutri.tenkhoa || attr(khoadieutri, "emrDmKhoaDieuTri.ten");
      }
    },
    
    
    created: async function() {
      this.patientId = getParam("id");
      
      this.csst_list = await this.get("/api/chucnangsong/get_ds_chucnangsong_by_bn", {
        benhnhan_id: this.patientId
      });
      console.log(this.csst_list);
    }
  });
  VueAsyncComponent(
    "xetnghiem",
    "/pages/patient/patient_detail/xetnghiem.html",
    {
      data: function() {
        return {
          patientId: 0,
          xetnghiem_list: 0,
          xetnghiem: null,
          hsba: null,
         
        };
      },
      methods: {
        viewXetnghiem: function(xetnghiem) {
        this.xetnghiem = xetnghiem;
        $("#xetnghiemModal").modal();
      }
      },
     
      created: async function() {
        this.patientId = getParam("id");
        this.xetnghiem_list = await this.get("/api/xetnghiem/get_ds_xetnghiem_by_bn", {
        benhnhan_id: this.patientId
      });
      console.log(this.xetnghiem_list);
      }
    });
  

  new Vue({
    el: "#app",
    data: {

      tab: 1,
      patientId: 0,
      patient: null
    },
    methods: {
      loadPatientData: async function() {
        this.patient = await this.get("/api/benh_nhan/get_benhnhan_by_id", {
          id: this.patientId
        });
        console.log(this.patient);
      }
    },
    created: async function() {
      this.patientId = getParam("id");
      this.loadPatientData();
    }
  });
</script>
