<div v-if="chucnangsong_list">
  <div class="row mt-3">
    <div class="col-12">
      <label class="label-title label-bold">Danh sách điều trị</label>
      <a v-on:click="addChucnangsong()" class="mt-1" href='#' title="Thêm"><i
          class="fas fa-fw fa-lg fa-plus-circle"></i></a>
    </div>
  </div>
  <table class="table table-bordered">
    <tr>
      <th style="width: 5%;" class="text-center">STT</th>
      <th style="width: 15%;" class="text-center">Thao tác</th>
      <th style="width: 40%;" class="text-center">Khoa điều trị</th>
      <th style="width: 40%;" class="text-center">Số tờ theo dõi</th>
    </tr>
    <tr v-for="(chucnangsong, i) in chucnangsong_list">
      <td class="text-center">{{ i + 1 }}</td>
      <td class="text-center">
        <a href='#' v-on:click="editChucnangsong(chucnangsong)" title="Chỉnh sửa">
          <i class="fas fa-fw fa-lg fa-edit"></i>
        </a>

        <a href='#' v-on:click="editFiles(chucnangsong)" title="Quản lý file đính kèm">
          <i class="fas fa-fw fa-lg fa-file"></i>
        </a>

        <a href='#' v-on:click='deleteChucnangsong(chucnangsong.id)' title="Xóa">
          <i class="fas fa-fw fa-lg fa-trash" style="color:red"></i>
        </a>
      </td>
      <td class="text-center">{{ chucnangsong.emrVaoKhoa.emrDmKhoaDieuTri.ten }}</td>
      <td class="text-center">{{ chucnangsong.sophieu }}</td>
    </tr>
    <tr v-if="chucnangsong_list.length == 0">
      <td colspan="4">Không có dữ liệu</td>
    </tr>
  </table>
</div>