<div>
  <template>
    <div class="row" v-if="cdha_list">
      <div class="col width=100% ">
        <div class="portlet p-3">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th style="width: 5%;" class="text-center">STT</th>
                <th style="width: 20%;" class="text-center">Nơi khám</th>
                <th style="width: 10%;" class="text-center">Ngày bắt đầu</th>
                <th style="width: 10%;" class="text-center">Ngày kết thúc</th>
                <th style="width: 10%;" class="text-center">
                  Loại chẩn đoán hình ảnh
                </th>
                <th style="width: 10%;" class="text-center">
                  Chẩn đoán hình ảnh
                </th>
                <th style="width: 10%;" class="text-center">Ngày thực hiện</th>
                <th style="width: 18%;" class="text-center">Kết quả</th>
                <th style="width: 7%;" class="text-center">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(cdha, i) in cdha_list">
                <td class="text-center">{{ i + 1 }}</td>
                <td class="text-center">{{ cdha.tenCoSoKhamBenh }}</td>
                <td class="text-center">{{ cdha.ngayVaoVien }}</td>
                <td class="text-center">{{ cdha.ngayRaVien }}</td>
                <td class="text-center">
                  {{ cdha.emrDmLoaiChanDoanHinhAnh.ten }}
                </td>
                <td class="text-center">{{ cdha.emrDmChanDoanHinhAnh.ten }}</td>
                <td class="text-center">{{ cdha.ngaythuchien }}</td>
                <td class="text-center">{{ cdha.ketqua }}</td>
                <td class="text-center">
                  <a href="javascript:void(0)" v-on:click="viewCdha(cdha)"
                    ><i class="fas fa-fw fa-binoculars"></i>Xem
                  </a>
                </td>
              </tr>
              <tr v-if="cdha_list.length==0">
                <td colspan="9">Không có dữ liệu</td>
              </tr>
            </tbody>
          </table>

          <div class="modal fade" id="cdhaModal">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">
                    <strong>Thông tin chẩn đoán hình ảnh</strong>
                  </h5>
                  <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div v-if="cdha" class="modal-body">  
                  <!--               
                    // 22. Phiếu siêu âm
                  <div class="container">
                    <div class="row">
                      <div class="col-3">
                        Sở Y tế: <br>
                        BV:  <br>
                      </div>
                      <div class="col-6 text-center">
                        <h3 class="text-center"><b>PHIẾU SIÊU ÂM</b></h3><br>
                        <p>(lần thứ ....)</p>
                      </div>
                      <div class="col-3">
                        MS: 01/BV-01 <br>
                        Số: <br> 
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-7">
                        - Họ tên người bệnh:
                      </div>
                      <div class="col-3">
                        Tuổi:
                      </div>
                      <div class="col-2">
                        Nam/ Nữ
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-7">
                        - Địa chỉ:
                      </div>
                      <div class="col-5">
                        Số BHYT:
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-7">
                        - Khoa:
                      </div>
                      <div class="col-3">
                        Số buồng:
                      </div>
                      <div class="col-2">
                        Giường:
                      </div>  
                    </div>
                    <div class="row">
                      <div class="col">
                        - Chẩn đoán:
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        - Yêu cầu kiểm tra: <br> <br> <br>
                      </div>
                    </div>
                    <div class="row offset-6">
                      <div class="col text-center">
                        <i>Ngày.... tháng... năm....</i> <br>
                        <b>BÁC SĨ ĐIỀU TRỊ</b> <br>
                        <br>
                        <br>
                      Họ tên ....
                      </div>
                    </div>
                  
                    <h3 class="text-center"><b>KẾT QUẢ SIÊU ÂM</b></h3>
                    <b>1. Mô tả tổn thương:</b> <br>
                    <div class="row">
                      <div class="col-6">
                        <b>2. Kết luận:</b>
                      </div>
                      <div class="col-6">
                        <b class="text-center">HÌNH ẢNH SIÊU ÂM</b>
                      </div>
                    </div>
                    <b><u>Lời dặn của BS chuyên khoa:</u></b> <br>
                    <div class="row offset-6">
                      <div class="col text-center">
                      <i>Ngày.... tháng... năm....</i> <br>
                      <b>BÁC SĨ CHUYÊN KHOA</b> <br>
                      <br>
                      <br>
                      Họ tên ....
                    </div>
                    </div>
                  </div>
                  <hr>
                  // 21.  Phiếu chụp cộng hưởng từ
                  <div class="container">
                    <div class="row">
                      <div class="col-3">
                        Sở Y tế: <br>
                        BV:  <br>
                      </div>
                      <div class="col-6 text-center">
                        <h3 class="text-center"><b>PHIẾU CHỤP CỘNG HƯỞNG TỪ</b></h3><br>
                        <p>(lần thứ ....)</p>
                      </div>
                      <div class="col-3">
                        MS: 01/BV-01 <br>
                        Số: <br> 
                      </div>
                    </div>
                    <div class="row"> 
                      <div class="col-7">
                        - Họ tên người bệnh:
                      </div>
                      <div class="col-3">
                        Tuổi:
                      </div>
                      <div class="col-2">
                        Nam/ Nữ
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        - Địa chỉ:
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-7">
                        - Khoa:
                      </div>
                      <div class="col-3">
                        Số buồng:
                      </div>
                      <div class="col-2">
                        Giường:
                      </div>  
                    </div>
                    <div class="row">
                      <div class="col">
                        - Chẩn đoán:
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        - Yêu cầu kiểm tra: <br> <br> <br>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        - Người bệnh có cơ dị vật kim loại trong cơ thể:  <br> <br> <br>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        - Các kết quả xét nghiệm, chuẩn đoán hình ảnh đã có:  <br> <br> <br>
                      </div>
                    </div>
                    <div class="row offset-6">
                      <div class="col text-center">
                      <i>Ngày.... tháng... năm....</i> <br>
                      <b>BÁC SĨ ĐIỀU TRỊ</b> <br>
                      <br>
                      <br>
                      Họ tên ....
                    </div>
                    </div>
                  
                    <h3 class="text-center"><b>KẾT QUẢ</b></h3>
                    <b>1. Mô tả:</b> <br>
                    <b>2. Kết luận:</b> <br>
                    <b><u>Lời dặn của BS chuyên khoa:</u></b> <br>
                    <div class="row offset-6">
                      <div class="col text-center">
                      <i>Ngày.... tháng... năm....</i> <br>
                      <b>BÁC SĨ CHUYÊN KHOA</b> <br>
                      <br>
                      <br>
                      Họ tên ....
                    </div>
                    </div>
                  </div>
                  <hr>
                  //20. Phiếu chụp cắt lớp vi tính
                  <div class="container">
                    <div class="row">
                      <div class="col-3">
                        Sở Y tế: <br>
                        BV:  <br>
                      </div>
                      <div class="col-6 text-center">
                        <h3 class="text-center"><b>PHIẾU CHỤP CẮT LỚP VI TÍNH</b></h3><br>
                        <p>(lần thứ ....)</p>
                      </div>
                      <div class="col-3">
                        MS: 01/BV-01 <br>
                        Số: <br> 
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-7">
                        - Họ tên người bệnh:
                      </div>
                      <div class="col-3">
                        Tuổi:
                      </div>
                      <div class="col-2">
                        Nam/ Nữ
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        - Địa chỉ:
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-7">
                        - Khoa:
                      </div>
                      <div class="col-3">
                        Số buồng:
                      </div>
                      <div class="col-2">
                        Giường:
                      </div>  
                    </div>
                    <div class="row">
                      <div class="col">
                        - Chẩn đoán:
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        - Yêu cầu kiểm tra: <br> <br> <br>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        - Người bệnh có cơ địa dị ứng:  <br> <br> <br>
                      </div>
                    </div>
                    <div class="row offset-6">
                      <div class="col text-center">
                      <i>Ngày.... tháng... năm....</i> <br>
                      <b>BÁC SĨ ĐIỀU TRỊ</b> <br>
                      <br>
                      <br>
                      Họ tên ....
                    </div>
                    </div>
                  
                    <h3 class="text-center"><b>KẾT QUẢ</b></h3>
                    <b>1. Mô tả:</b> <br>
                    <b>2. Kết luận:</b> <br>
                    <b><u>Lời dặn của BS chuyên khoa:</u></b> <br>
                    <div class="row offset-6">
                      <div class="col text-center">
                      <i>Ngày.... tháng... năm....</i> <br>
                      <b>BÁC SĨ CHUYÊN KHOA</b> <br>
                      <br>
                      <br>
                      Họ tên ....
                    </div>
                    </div>
                  </div>
                    <hr>



                  
                  //19. Phiếu chiếu, chụp X quang 
                    -->
                  <div class="container">
                    <div class="row">
                      <div class="col-3">
                        Sở Y tế: <br>
                        BV:  <br>
                      </div>
                      <div class="col-6 text-center">
                        <h5 class="text-center"><b>PHIẾU CHIẾU/ CHỤP X-QUANG</b></h5><br>
                        <p>(lần thứ ....)</p>
                      </div>
                      <div class="col-3">
                        MS: 19/BV-01 <br>
                        Số: <br> 
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-7">
                        - Họ tên người bệnh: {{cdha.tenDayDu}}
                      </div>
                      <div class="col-3">
                        Tuổi: {{cdha.tuoiBenhNhan}}
                      </div>
                      <div class="col-2">
                        Giới tính: {{cdha.gioiTinh}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        - Địa chỉ:
                      </div>
                    </div>
                    <div class="row">
                      
                      <div class="col-7">
                        - Khoa:
                      </div>
                      <div class="col-3">
                        Số buồng:
                      </div>
                      <div class="col-2">
                        Giường:
                      </div>  
                    </div>
                    <div class="row">
                      <div class="col">
                        - Chẩn đoán:
                      </div>
                    </div>
                    <table class="table table-bordered">
                      <thead>
                        <tr><th class="text-center"><b>YÊU CẦU CHIẾU/ CHỤP</b></th></tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <br>
                            <br>
                            <br>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="row offset-6">
                      <div class="col text-center">
                      <i>Ngày.... tháng... năm....</i> <br>
                      <b>BÁC SĨ ĐIỀU TRỊ</b> <br>
                      <br>
                      <br>
                      Họ tên <b>{{ cdha.bacsiyeucau }}</b>
                    </div>
                    </div>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="text-center">
                            <b>KẾT QUẢ CHIẾU/ CHỤP</b>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            {{ cdha.ketqua }}
                            <br>
                            <br>
                            <br>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <br>
                    <b><u>Lời dặn của BS chuyên khoa: </u></b>{{ cdha.loidan }} <br>
                    <div class="row offset-6">
                      <div class="col text-center">
                        <i>Ngày.... tháng... năm....</i> <br>
                        <b>BÁC SĨ CHUYÊN KHOA</b> <br>
                        <br>
                        <br>
                        Họ tên <b>{{cdha.bacsichuyenkhoa}} </b>
                      </div>
                    </div>
                    <div v-if="cdha.emrFileDinhKemCdhas.length > 0">
                      <hr />
                      <b>Danh sách file đính kèm:</b>
                      <table class="table table-bordered mt-3">
                        <tr>
                          <th style="width:10%" class="text-center">STT</th>
                          <th style="width:90%" class="text-center">
                            Tên file
                          </th>
                        </tr>
                        <tr v-for="(file, i) in cdha.emrFileDinhKemCdhas">
                          <td>{{ i + 1 }}</td>
                          <td>
                            <a :href="file.duongdan">{{ file.tenfile }}</a>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <hr>
                  

                  <!--
                    <div>
                    <meta charset="UTF-8" />
                    <table
                      border="1"
                      cellpadding="10"
                      class="table table-bordered"
                    >
                      <div class="row">
                        <div class="col-12">
                          <b
                            >Chẩn đoán hình ảnh: {{
                            cdha.emrDmChanDoanHinhAnh.ten }}</b
                          ><br />
                          <span
                            >- Loại chẩn đoán: {{
                            cdha.emrDmLoaiChanDoanHinhAnh.ten }}</span
                          ><br />
                          <span>- Ngày yêu cầu: {{ cdha.ngayyeucau }}</span
                          ><br />
                          <span>- Bác sĩ yêu cầu: {{ cdha.bacsiyeucau }}</span
                          ><br />
                          <span>- Ngày thực hiện: {{ cdha.ngaythuchien }}</span
                          ><br />
                          <span
                            >- Bác sĩ thực hiện: {{ cdha.bacsichuyenkhoa
                            }}</span
                          ><br />
                        </div>
                      </div>
                      <hr />

                      <div class="row">
                        <div class="col-12">
                          <b><span>Kết quả</span> <br /></b>
                          <span>{{ cdha.ketqua }}</span>
                        </div>
                      </div>
                      <hr />

                      <div class="row">
                        <div class="col-12">
                          <b><span>Kết luận</span> <br /></b>
                          <span>{{ cdha.ketluan }}</span>
                        </div>
                      </div>
                      <hr />

                      <div class="row">
                        <div class="col-12">
                          <b><span>Lời dặn</span> <br /></b>
                          <span>{{ cdha.loidan }}</span>
                        </div>
                      </div>

                      <div v-if="cdha.emrFileDinhKemCdhas.length > 0">
                        <hr />
                        <b>Danh sách file đính kèm:</b>
                        <table class="table table-bordered mt-3">
                          <tr>
                            <th style="width:10%" class="text-center">STT</th>
                            <th style="width:90%" class="text-center">
                              Tên file
                            </th>
                          </tr>
                          <tr v-for="(file, i) in cdha.emrFileDinhKemCdhas">
                            <td>{{ i + 1 }}</td>
                            <td>
                              <a :href="file.duongdan">{{ file.tenfile }}</a>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </table>
                  </div>
                  -->
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Đóng lại
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
</div>
