<div>
    <template>
        <div class="row">
            <div class="col width=100%">
                <div class="portlet p-3">
                    <h3 class="text-blue text-uppercase">Lịch sử dùng thuốc</h3>
                    <table class="table table-bordered">
                        <tr>
                          <th style="width: 5%;" class="text-center">STT</th>
                          <th style="width: 20%;" class="text-center"> Nơi khám</th>
                          <th style="width: 15%;" class="text-center"> Số bệnh án</th>
                          <th style="width: 15%;" class="text-center">Bác sĩ kê đơn</th>
                          <th style="width: 15%;" class="text-center">Ngày kê đơn</th>
                          <th style="width: 15%;" class="text-center">Số đơn</th>
                          <th style="width: 15%;" class="text-center">Thao tác</th>
                         
                        </tr>
                        <tr v-for="(lsdt, i) in lsdt_list">
                          <td class="text-center">{{ i + 1 }}</td>
                          <td class="text-center">{{ lsdt.emrCoSoKhamBenhId}}</td>
                          <td class="text-center">{{ lsdt.emrHoSoBenhAnId }}</td>
                          <td class="text-center">{{ lsdt.bacsikedon }}</td>
                          <td class="text-center">{{ lsdt.ngaykedon}}</td>
                          <td class="text-center">{{ lsdt.sodon}}</td>
                          <td class="text-center">
                            <a href="javascript:void(0)" v-on:click="viewLsdt(lsdt)"
                              ><i class="fas fa-fw fa-binoculars"></i> Xem</a
                            >
                          </td>
                        </tr>
                        <tr v-if="lsdt_list.length==0">
                          <td colspan="5">Không có dữ liệu</td>
                        </tr>
                      </table>
                </div>
            </div>
        </div>
    </template>
</div>