
<div>
    <template>
        <div class="row" v-if="patient_summary_list">
            <div class="col width=100%">
                <div class="portlet p-3">
                    <h3 class="text-blue text-uppercase">Lịch sử thăm khám</h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 5% ;" class="text-center">STT</th>
                                <th style="width: 20%;" class="text-center">Nơi khám</th>
                                <th style="width: 10%;" class="text-center">Ngày bắt đầu</th>
                                <th style="width: 10%;" class="text-center">Ngày kết thúc</th>
                                <th style="width: 30%;" class="text-center">Chẩn đoán</th>
                                <th style="width: 15%;" class="text-center">Bác sĩ thực hiện</th>
                                <th style="width: 10%;" class="text-center">Tóm tắt bệnh án</th>

                            </tr>
                            <tr v-for='(patient_summary, i) in patient_summary_list'>
                                <td class="text-center">{{ i + 1 }}</td>
                                <td> {{ patient_summary.emrCoSoKhamBenh.ten }}<br> {{ patient_summary.khoaRaVien }}  </td>
                                <td class="text-center">{{ patient_summary.emrQuanLyNguoiBenh.ngaygiovaovien }}</td>
                                <td class="text-center">{{ patient_summary.emrQuanLyNguoiBenh.ngaygioravien }}</td>
                                <td>{{ patient_summary.emrChanDoan.emrDmMaBenhChandoanravienchinh.ten }}</td>
                                <td class="text-center">{{ patient_summary.emrTongKetRaVien.bacsydieutri }}</td>
                                <td class="text-center"> 
                                    <a href="javascript:void(0)" v-on:click="viewTomtathsba(patient_summary)"><i class="fas fa-fw fa-binoculals"></i>Xem</a>
                                </td>

                            </tr>
                            <tr v-if="patient_summary_list.length==0">
                                <td colspan="5">Không có dữ liệu nào</td>
                            </tr>
                        </thead>   
                    </table>

                    <div class="modal fade" id="tomtathsbaModal">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">
                                        <strong>Tóm tắt bệnh án</strong>
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" >
                                        <span aria-hidden="true">&times;</span>
                                    </button> 
                                </div>
                                
                                
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>