<% include ../../header.html %>
<style>
  #app {
    overflow: scroll;
    width: 100%;
  }
</style>

<div id="app" class="container-fluid pt-2 mb-4 mt-2">
  <template v-if="total == 0">
    <b>Không có dữ liệu</b>
  </template>
  
  <template>
	    <form @submit.prevent="search()" class="mb-3">
	      <div class="w">
		     	<div class="box-content">
            <div class="row mb-2">
                <div class="col-4"><strong>Mã/tên danh mục dùng chung:</strong></div>
            </div>
            <div class="row">
			        <div class="col-8">
			          <input v-model="keyword" class="form-control" placeholder="Mã/Tên danh mục dùng chung"></input>
			        </div>
			        	<b-button variant="primary" class="search" type="submit">Tìm kiếm</b-button>
			        </div>
		        </div>
		        <!-- <div class="row mt-2">
			        <div class="col-4">
			        	<label for="input-none"><strong>Thời gian bắt đầu có hiệu lực từ ngày:</strong></label><br/>
			        	<b-form-input  id="type-date" type="date"></b-form-input>
			        </div>
			        <div class="col-4">
			        	<label for="input-none"><strong> Đến:</strong></label><br/>
			        	<b-form-input  id="type-date" type="date"></b-form-input>
			        </div>
		        </div> -->
		     </div>
	      </div>
	    </form>
    <table class="table table-bordered table-width-100 mt-4" v-if="total > 0">

      <thead>
        <tr> 
          <th style="width:5%">STT</th>
          <th style="width:20%">Mã loại danh mục</th>
          <th style="width:40%">Tên danh mục</th>
          <th style="width:20%">Trạng thái</th>
          <th style="width:5%">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(dm, index) in items">
          <td align="center">{{ index + (currentPage-1)*perPage + 1 }}</td>
          <td>{{ dm.ma }}</td>
          <td>{{ dm.ten }}</td>
          <td>{{ dm.trang_thai }}</td>
           <td>
             <a :href='createURL("/pages/danhmuc/dm_dungchung/dm_con.html", {"dm_type" : dm.ma})' title="Xem chi tiết danh mục"><i class="fa fa-eye"></i></a>
             <a href="#" title="Quản lý phiên bản"><i class="fa fa-cog"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
    <b-pagination v-if="total > perPage" size="sm" v-model="currentPage" :total-rows="total" :per-page="perPage"></b-pagination>
    <label class="label">Tổng số : {{ total }} bản ghi</label>

  </template>
</div>
<script  type="text/javascript"> 
  new Vue({
    el: "#app",
    data: {  
      keyword: "",
      perPage: 5,
    	currentPage: 1,
    	items: [],
    	total : null,
    },
    
    methods: {
      getTotal: async function() {
        this.total = await this.get("/api/nhom_danhmuc/count_nhom_dm_list", {
                                          keyword : this.keyword});},

      getItems : async function() {
        var start = (this.currentPage - 1) * this.perPage;
        this.items = await this.get("/api/nhom_danhmuc/get_nhom_dm_list", { 
                            keyword : this.keyword,
                            start: start, count: this.perPage});
        console.log(this.items);
      },

      getData: async function() {
        await this.getTotal();
        await this.getItems();
      },
      
      search : async function() {
        if(this.currentPage != 1) {
          this.currentPage = 1;
        }else{
          await this.getData();        
        }
      },  
    },

    watch: {
      currentPage: async function() {
        await this.getData();
      }
    },
    
    created: async function () {
      await this.getData();	  
    }
  });
</script>