<div v-if="hsba" class="frame">
  <div class="row">
    <div class="col-8">
      <span>{{ hsba.donvichuquan }}</span><br>
      <span>BV: {{ hsba.tenbenhvien }}</span>
    </div>
    <div class="col-4">
      <span>Số lưu trữ:</span><br>
      <span>Mã y tế:</span> <span>{{ hsba.mayte }}</span>
    </div>
  </div>
  <div style="text-align: center;" class="mt-3 mb-3">
    <h3>PHIẾU HÌNH ẢNH TỔN THƯƠNG</h3>
  </div>
  <div class="row">

    <div class="col-8">
      <span>Tên bệnh nhân:</span> <b><span class='text-uppercase'>{{ hsba.emrBenhNhan.tendaydu }}</span></b><br>
      <span>Ngày sinh:</span> <span>{{ formatDate(hsba.emrBenhNhan.ngaysinh) }}</span><br>
      <span>Ngày vào viện:</span> <span>{{ formatDateTime(hsba.emrQuanLyNguoiBenh.ngaygiovaovien) }}</span><br>
    </div>
    <div class="col-4">
      <span>Giới tính:</span> <span>{{ hsba.emrBenhNhan.emrDmGioiTinh.ten }}</span><br>
      <span>Tuổi:</span> <span>{{ hsba.emrBenhNhan.tuoi }}</span><br>
      <span>Ngày ra viện:</span> <span>{{ formatDateTime(hsba.emrQuanLyNguoiBenh.ngaygioravien) }}</span><br>
    </div>
  </div>
  <hr>

  <div class="row" v-if="hatt">
    <div class="col-12">
      <b>Hình ảnh tổn thương: {{ hatt.anhtonthuong }}</b><br>
      <span>- Mô tả: {{ hatt.motatonthuong }}</span> <br>
      
      <div v-if="hatt.emrQuanLyFileDinhKemHatts.length > 0">
        <hr>
        <b>Danh sách file đính kèm:</b> 
        <table class='table table-bordered mt-3'>
          <tr>
            <th style='width:10%'>STT</th>
            <th style='width:90%'>Tên file</th>
          </tr>
          <tr v-for="(file, i) in hatt.emrQuanLyFileDinhKemHatts">
            <td>{{ i + 1 }}</td>
            <td><a :href="file.duongdan">{{ file.tenfile }}</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>