<div v-if="chamsoc">
  <a href="#" v-on:click="xemDsChamSoc"><i class="fas fa-fw fa-arrow-left"></i> Quay lại</a>
  <div class="frame mt-3">
    <div class="row">
      <div class="col-8">
        <span>{{ hsba.emrCoSoKhamBenh.donvichuquan }}</span><br>
        <span>BV: {{ hsba.emrCoSoKhamBenh.ten }}</span>
      </div>
      <div class="col-4">
        <span>Số lưu trữ:</span><br>
        <span>Mã y tế:</span> <span>{{ hsba.mayte }}</span>
      </div>
    </div>
    <div style="text-align: center;" class="mt-3 mb-3">
      <h3>PHIẾU CHĂM SÓC BỆNH NHÂN</h3>
    </div>
    <div class="row">
      <div class="col-8">
        <span>Tên bệnh nhân:</span> <b><span class='text-uppercase'>{{ hsba.emrBenhNhan.tendaydu }}</span></b><br>
        <span>Ngày sinh:</span> <span>{{ formatDate(hsba.emrBenhNhan.ngaysinh) }}</span><br>
        <span>Ngày vào viện:</span>
        <span>{{ formatDateTime(hsba.emrQuanLyNguoiBenh.ngaygiovaovien) }}</span><br>
      </div>
      <div class="col-4">
        <span>Giới tính:</span> <span>{{ hsba.emrBenhNhan.emrDmGioiTinh.ten }}</span><br>
        <span>Tuổi:</span> <span>{{ hsba.emrBenhNhan.tuoi }}</span><br>
        <span>Ngày ra viện:</span> <span>{{ formatDateTime(hsba.emrQuanLyNguoiBenh.ngaygioravien) }}</span><br>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-12">
        <b>Phiếu chăm sóc số: {{ chamsoc.sotochamsoc }}</b><br>
        <span>- Tại khoa: {{ chamsoc.emrVaoKhoa.tenkhoa || chamsoc.emrVaoKhoa.emrDmKhoaDieuTri.ten }}</span><br>
      </div>
    </div>

    <table class='table table-bordered mt-3'>
      <tr>
        <th style='width:5%' class="text-center">STT</th>
        <th style='width:15%' class="text-center">Ngày thực hiện</th>
        <th style='width:35%' class="text-center">Diễn biến người bệnh</th>
        <th style='width:25%' class="text-center">Thực hiện y lệnh/chăm sóc</th>
        <th style='width:20%' class="text-center">Y tá chăm sóc</th>
      </tr>
      <tr v-for="(qtcs, i) in chamsoc.emrQuaTrinhChamSocs">
        <td>{{ i + 1}}</td>
        <td>{{ formatDateTime(qtcs.ngaychamsoc) }}</td>
        <td>{{ qtcs.theodoidienbien }}</td>
        <td>{{ qtcs.thuchienylenh }}</td>
        <td>{{ qtcs.ytachamsoc }}</td>
      </tr>
    </table>

    <div v-if="chamsoc.emrFileDinhKemChamSocs.length > 0">
      <hr>
      <b>Danh sách file đính kèm:</b>
      <table class='table table-bordered mt-3'>
        <tr>
          <th style='width:10%' class="text-center">STT</th>
          <th style='width:90%' class="text-center">Tên file</th>
        </tr>
        <tr v-for="(file, i) in chamsoc.emrFileDinhKemChamSocs">
          <td>{{ i + 1 }}</td>
          <td><a :href="file.duongdan">{{ file.tenfile }}</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>