<div v-if="hatt_list">
  <table class="table table-bordered">
    <tr>
      <th style="width: 5%;" class="text-center">STT</th>
      <th style="width: 15%;" class="text-center">Thao tác</th>
      <th style="width: 30%;" class="text-center">Ảnh tổn thương</th>
      <th style="width: 50%;" class="text-center">Mô tả tổn thương</th>
    </tr>
    <tr v-for="(hatt, i) in hatt_list">
      <td class="text-center">{{ i + 1 }}</td>
      <td class="text-center">
        <a href='#' v-on:click="editHatt(hatt)" title="Chỉnh sửa">
          <i class="fas fa-fw fa-lg fa-edit"></i>
        </a>

        <a href='#' v-on:click="editFiles(hatt)" title="Quản lý file đính kèm">
          <i class="fas fa-fw fa-lg fa-file"></i>
        </a>

        <a href='#' v-on:click='deleteHatt(hatt.id)' title="Xóa">
          <i class="fas fa-fw fa-lg fa-trash" style="color:red"></i>
        </a>
      </td>
      <td class="text-center">{{ hatt.anhtonthuong }}</td>
      <td class="text-center">{{ hatt.motatonthuong }}</td>
    </tr>
    <tr v-if="hatt_list.length == 0">
      <td colspan="4">Không có dữ liệu</td>
    </tr>
  </table>
</div>