<div class="modal fade" :id="id" v-if="dmList">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form method="POST" @submit.prevent="search()">
            <div class="row mb-3">
              <div class="col-12">
                <input v-model="keyword" placeholder="Nhập tên/mã để tìm kiếm" class="form-control">
              </div>
            </div>
          </form>
          <div class="row mt-1" v-for="(dm,i) in dmList">
            <div class="col-12" v-if="!multi">
              <input type="radio" :value="dm.ma" v-model='selectedItemCode'> 
              <label>{{ dm.ten }}</label>
              <span v-if="show_code">({{ dm.ma }})</span>
            </div>
            <div class="col-12" v-if="multi">
              <input type="checkbox" :value="dm.ma" v-model='dmList[i].selected'> 
              <label> {{ dm.ten }} </label>
              <span v-if="show_code">({{ dm.ma }})</span>
            </div>
          </div>
        </div>
        <div v-if="loading" style="position: absolute;left: 50%;top:50%" class="spinner-border"></div>
        <div class="row" v-if="total > perPage">
          <div class="col-12 pl-4 pt-3">
            <b-pagination size="sm" :total-rows="total" v-model="currentPage" :per-page="perPage"></b-pagination>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button v-on:click="selectItem()" type="button" class="btn btn-primary">Chọn</button>
      </div>
    </div>
  </div>
</div>