<div v-if="cdha_list">
  <table class="table table-bordered">
    <tr>
      <th style="width: 5%;" class="text-center">STT</th>
      <th style="width: 15%;" class="text-center">Thao tác</th>
      <th style="width: 15%;" class="text-center">Loại chẩn đoán hình ảnh</th>
      <th style="width: 15%;" class="text-center">Chẩn đoán hình ảnh</th>
      <th style="width: 15%;" class="text-center">Ngày thực hiện</th>
      <th style="width: 15%;" class="text-center">Nơi thực hiện</th>
      <th style="width: 20%;" class="text-center">Kết quả</th>
    </tr>
    <tr v-for="(cdha, i) in cdha_list">
      <td class="text-center">{{ i + 1 }}</td>
      <td class="text-center">
        <a href="javascript:void(0)" v-on:click="viewCdha(cdha)"
          ><i class="fas fa-fw fa-binoculars"></i> Xem</a
        >
      </td>
      <td class="text-center">{{ cdha.emrDmLoaiChanDoanHinhAnh.ten }}</td>
      <td class="text-center">{{ cdha.emrDmChanDoanHinhAnh.ten }}</td>
      <td class="text-center">{{ cdha.ngaythuchien }}</td>
      <td class="text-center" v-if="hsba">{{ hsba.emrCoSoKhamBenh.ten }}</td>
      <td class="text-center">{{cdha.ketqua}}</td>
    </tr>
    <tr v-if="cdha_list.length==0">
      <td colspan="7">Không có dữ liệu</td>
    </tr>
  </table>

  <div class="modal fade" id="cdhaModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <strong>Thông tin chẩn đoán hình ảnh</strong>
          </h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div v-if="cdha" class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-3">
                Sở Y tế: <br>
                BV:  <br>
              </div>
              <div class="col-6 text-center">
                <h5 class="text-center"><b>PHIẾU CHIẾU/ CHỤP X-QUANG</b></h5><br>
                <p>(lần thứ ....)</p>
              </div>
              <div class="col-3">
                MS: 19/BV-01 <br>
                Số: <br> 
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                - Họ tên người bệnh: {{cdha.tenDayDu}}
              </div>
              <div class="col-3">
                Tuổi: {{cdha.tuoiBenhNhan}}
              </div>
              <div class="col-2">
                Giới tính: {{cdha.gioiTinh}}
              </div>
            </div>
            <div class="row">
              <div class="col">
                - Địa chỉ:
              </div>
            </div>
            <div class="row">
              
              <div class="col-7">
                - Khoa:
              </div>
              <div class="col-3">
                Số buồng:
              </div>
              <div class="col-2">
                Giường:
              </div>  
            </div>
            <div class="row">
              <div class="col">
                - Chẩn đoán:
              </div>
            </div>
            <table class="table table-bordered">
              <thead>
                <tr><th class="text-center"><b>YÊU CẦU CHIẾU/ CHỤP</b></th></tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <br>
                    <br>
                    <br>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row offset-6">
              <div class="col text-center">
                <i class="mb-2">{{formatNgay2(cdha.ngayyeucau)}}</i> <br>
              <b>BÁC SĨ ĐIỀU TRỊ</b> <br>
              <br>
              <br>
              Họ tên <b>{{ cdha.bacsiyeucau }}</b>
            </div>
            </div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="text-center">
                    <b>KẾT QUẢ CHIẾU/ CHỤP</b>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    {{ cdha.ketqua }}
                    <br>
                    <br>
                    <br>
                  </td>
                </tr>
              </tbody>
            </table>
            <br>
            <b><u>Lời dặn của BS chuyên khoa: </u></b>{{ cdha.loidan }} <br>
            <div class="row offset-6">
              <div class="col text-center">
                <i>Ngày.... tháng... năm....</i> <br>
                <b>BÁC SĨ CHUYÊN KHOA</b> <br>
                <br>
                <br>
                Họ tên <b>{{cdha.bacsichuyenkhoa}} </b>
              </div>
            </div>
            <div v-if="cdha.emrFileDinhKemCdhas.length > 0">
              <hr />
              <b>Danh sách file đính kèm:</b>
              <table class="table table-bordered mt-3">
                <tr>
                  <th style="width:10%" class="text-center">STT</th>
                  <th style="width:90%" class="text-center">
                    Tên file
                  </th>
                </tr>
                <tr v-for="(file, i) in cdha.emrFileDinhKemCdhas">
                  <td>{{ i + 1 }}</td>
                  <td>
                    <a :href="file.duongdan">{{ file.tenfile }}</a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <!--
          <tomtat :hsba="hsba" title="PHIẾU CHẨN ĐOÁN HÌNH ẢNH"></tomtat>
          <hr />
          <div>
            <meta charset="UTF-8" />
            <table border="1" cellpadding="10" class="table table-bordered">
              <font size="2.5">
                <div class="row">
                  <div class="col-12">
                    <b
                      >Chẩn đoán hình ảnh: {{ cdha.emrDmChanDoanHinhAnh.ten
                      }}</b
                    ><br />
                    <span
                      >- Loại chẩn đoán: {{ cdha.emrDmLoaiChanDoanHinhAnh.ten
                      }}</span
                    ><br />
                    <span>- Ngày yêu cầu: {{ cdha.ngayyeucau }}</span><br />
                    <span>- Bác sĩ yêu cầu: {{ cdha.bacsiyeucau }}</span><br />
                    <span>- Ngày thực hiện: {{ cdha.ngaythuchien }}</span><br />
                    <span>- Bác sĩ thực hiện: {{ cdha.bacsichuyenkhoa }}</span
                    ><br />
                  </div>
                </div>
                <hr />

                <div class="row">
                  <div class="col-12">
                    <b><span>Kết quả</span> <br /></b>
                    <span>{{ cdha.ketqua }}</span>
                  </div>
                </div>
                <hr />

                <div class="row">
                  <div class="col-12">
                    <b><span>Kết luận</span> <br /></b>
                    <span>{{ cdha.ketluan }}</span>
                  </div>
                </div>
                <hr />

                <div class="row">
                  <div class="col-12">
                    <b><span>Lời dặn</span> <br /></b>
                    <span>{{ cdha.loidan }}</span>
                  </div>
                </div>

                <div v-if="cdha.emrFileDinhKemCdhas.length > 0">
                  <hr />
                  <b>Danh sách file đính kèm:</b>
                  <table class="table table-bordered mt-3">
                    <tr>
                      <th style="width:10%" class="text-center">STT</th>
                      <th style="width:90%" class="text-center">Tên file</th>
                    </tr>
                    <tr v-for="(file, i) in cdha.emrFileDinhKemCdhas">
                      <td>{{ i + 1 }}</td>
                      <td><a :href="file.duongdan">{{ file.tenfile }}</a></td>
                    </tr>
                  </table>
                </div>
              </font>
            </table>
          </div>
          -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Đóng lại
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
