<div v-if="donthuoc_list">
  <table class="table table-bordered">
    <tr>
      <th style="width: 5%;" class="text-center">STT</th>
      <th style="width: 15%;" class="text-center">Thao tác</th>
      <th style="width: 30%;" class="text-center">Số đơn thuốc</th>
      <th style="width: 30%;" class="text-center">Bác sĩ kê đơn</th>
      <th style="width: 20%;" class="text-center">Ngày kê đơn</th>
    </tr>
    <tr v-for="(donthuoc, i) in donthuoc_list">
      <td class="text-center">{{ i + 1 }}</td>
      <td class="text-center"><a href="#" v-on:click="viewDonthuoc(donthuoc)"><i class="fas fa-fw fa-binoculars"></i>
          Xem</a></td>
      <td class="text-center">{{ donthuoc.sodon }}</td>
      <td class="text-center">{{ donthuoc.bacsikedon }}</td>
      <td class="text-center">{{ donthuoc.ngaykedon }}</td>
    </tr>
  </table>
</div>