<div class="container">
  <section class="container-fluid pt-2 mb-3">
    <div class="row">
      <div class="col-5">
        Sở Y tế: <strong>{{hsba.emrCoSoKhamBenh.donvichuquan}}</strong><br />
        Bệnh viện:
        <strong class="text-danger">{{hsba.emrCoSoKhamBenh.ten}}</strong> <br />
        Khoa: <strong class="mr-3 text-primary">{{tenKhoaDieuTri}} <br>
        </strong>Giường: <strong class="text-success">{{khoaDieuTri.giuong}}</strong>
      </div>
      <div class="col-4">
        <h3 class="text-tle mt-3">BỆNH ÁN NGOẠI TRÚ</h3>
      </div>
      <div class="col-3">
         <strong class="text-info">{{hsba.maluutru}}</strong> <br>
        Mã YT: <span class="text-danger"> <strong>{{hsba.mayte}}</strong></span>
      </div>
    </div>
  </section>

  <section class="container-fluid pt-2 mb-3">
    <section class="mb-4">
      <h5 class="text-tle">I. HÀNH CHÍNH:</h5>
      <div class="ml-auto col-1 text-center">
        <span v-if="hsba.donViTuoiBenhNhan==''">Tuổi</span>
        <span v-if="hsba.donViTuoiBenhNhan!=''">{{ hsba.donViTuoiBenhNhan }} tuổi</span>
      </div>

      <div class="row mb-2">
        <div class="col-2">
          <label><b class="text-primary mr-1">1.</b>Họ và tên:</label>
        </div>
        <div class="col-4">
          <span class="text-uppercase"
            ><b>{{hsba.emrBenhNhan.tendaydu }}</b></span
          >
        </div>
        <div class="col-6">
          <div class="form-inline input-lr2 float-left">
            <label><b class="text-primary mr-1">2.</b>Sinh ngày:</label>
            <input readonly :value="ngaySinhBenhNhan.substring(0,1)" class="form-control form-control-sm text-placeholder w-40px">
            <input readonly :value="ngaySinhBenhNhan.substring(1,2)" class="form-control form-control-sm text-placeholder w-40px mr-2">
            <input readonly :value="ngaySinhBenhNhan.substring(3,4)" class="form-control form-control-sm text-placeholder w-40px">
            <input readonly :value="ngaySinhBenhNhan.substring(4,5)" class="form-control form-control-sm text-placeholder w-40px mr-2">
            <input readonly :value="ngaySinhBenhNhan.substring(6,7)" class="form-control form-control-sm text-placeholder w-40px">
            <input readonly :value="ngaySinhBenhNhan.substring(7,8)" class="form-control form-control-sm text-placeholder w-40px">
            <input readonly :value="ngaySinhBenhNhan.substring(8,9)" class="form-control form-control-sm text-placeholder w-40px">
            <input readonly :value="ngaySinhBenhNhan.substring(9,10)" class="form-control form-control-sm text-placeholder w-40px">
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-2">
          <label class="mr-auto "
            ><b class="text-primary mr-1">3.</b>Giới:</label
          >
        </div>
        <div class="col-4">
          <input disabled :checked="attr(hsba, 'emrBenhNhan.emrDmGioiTinh.ma') == 'M' " type="checkbox"> <span class="mr-3">Nam</span>
          <input disabled :checked="attr(hsba, 'emrBenhNhan.emrDmGioiTinh.ma') == 'F' " type="checkbox"> <span class="mr-3">Nữ</span>
        </div>
        <div class="col-6">
          
          <label class="mr-auto "
            ><b class="text-primary mr-1">4.</b>Nghề nghiệp:</label
          >
          <span>{{ hsba.emrBenhNhan.emrDmNgheNghiep.ten}}</span>
          <form class="form-inline input-lr2 float-right">
            <input v-for="c in toCharArray(maNgheNghiep)" :value="c" readonly class="form-control form-control-sm text-placeholder w-40px">

          </form>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-6">
          <label><b class="text-primary mr-1">5.</b>Dân tộc:</label>
          <span>{{hsba.emrBenhNhan.emrDmDanToc.ten}}</span>
          <form class="form-inline input-lr2 float-right">
            <input v-for="c in toCharArray(maDanToc)" :value="c" readonly class="form-control form-control-sm text-placeholder w-40px">
          </form>
        </div>

        <div class="col-6">
          <label><b class="text-primary mr-1">6.</b>Quốc tịch:</label>
          <span> {{hsba.emrBenhNhan.emrDmQuocGia.ten}} </span>
          <form class="form-inline input-lr2 float-right">
            <input v-for="c in toCharArray(maQuocTich)" :value="c" readonly class="form-control form-control-sm text-placeholder w-40px">
          </form>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-6">
          <label><b class="text-primary mr-1">7.</b>Địa chỉ:</label>
          <span>{{hsba.emrBenhNhan.diachi}}</span>
        </div>
        <div class="col-6">
          <label>Xã, phường:</label>
          <span>{{hsba.emrBenhNhan.emrDmPhuongXa.ten}}</span>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-6">
          <label class="ml-3">Huyện (Q, Tx):</label>
          <span>{{hsba.emrBenhNhan.emrDmQuanHuyen.ten}}</span>
          <form class="form-inline input-lr2 float-right">
            <input v-for="c in toCharArray(maQuanHuyen)" :value="c" readonly class="form-control form-control-sm text-placeholder w-40px">
          </form>
        </div>
        <div class="col-6">
          <label>Tỉnh, thành phố:</label>
          <span>{{hsba.emrBenhNhan.emrDmTinhThanh.ten}}</span>
          <form class="form-inline input-lr2 float-right">
            <input v-for="c in toCharArray(maTinhThanh)" :value="c" readonly class="form-control form-control-sm text-placeholder w-40px">
          </form>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-6">
          <label><b class="text-primary mr-1">8.</b>Nơi làm việc:</label>
          <span>{{hsba.emrBenhNhan.noilamviec}}</span>
        </div>
        <div class="col-6">
          <label
            ><b class="text-primary mr-1">9.</b>Đối tượng:
            <input disabled :checked="attr(hsba, 'emrQuanLyNguoiBenh.emrDmLoaiDoiTuongTaiChinh.ma') == '01' " type="checkbox"> <span class="mr-3">1.BHYT</span>
            <input disabled :checked="attr(hsba, 'emrQuanLyNguoiBenh.emrDmLoaiDoiTuongTaiChinh.ma') == '02' " type="checkbox"> <span class="mr-3">2.Thu phí</span>
            <input disabled :checked="attr(hsba, 'emrQuanLyNguoiBenh.emrDmLoaiDoiTuongTaiChinh.ma') == '03' "  type="checkbox"> <span class="mr-3">3.Miễn</span>
            <input disabled :checked="attr(hsba, 'emrQuanLyNguoiBenh.emrDmLoaiDoiTuongTaiChinh.ma') == '04' " type="checkbox"> <span class="mr-3">4.Khác</span>
          </label>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-6">
          <label
            ><b class="text-primary mr-1">10.</b>BHYT giá trị đến ngày:</label>
          <span>{{ formatNgay(ngayHetHanBHYT) }}</span>

        </div>
        <div class="col-6">
          <label>Số thẻ BHYT:</label>
          <form class="form-inline input-lr2 float-right">
            <input readonly :value="soTheBHYT.substring(0,2)" class="form-control form-control-sm text-placeholder w-60px">
            <input readonly :value="soTheBHYT.substring(2,3)" class="form-control form-control-sm text-placeholder w-60px">
            <input readonly :value="soTheBHYT.substring(3,5)" class="form-control form-control-sm text-placeholder w-60px">
            <input readonly :value="soTheBHYT.substring(5)" class="form-control form-control-sm text-placeholder w-140px">
          </form>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-12">
          <label
            ><b class="text-primary mr-1">11.</b>Họ tên, địa chỉ người nhà khi
            cần báo tin:</label
          >
          <span>{{hsba.emrBenhNhan.tennguoibaotin}}</span>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-6">
          <label>Địa chỉ:</label>
          <span>{{hsba.emrBenhNhan.diachinguoibaotin}}</span>
        </div>
        <div class="col-6">
          <span>Điện thoại số:
            <form class="form-inline input-lr2 float-right">
              <input v-for="c in toCharArray(soDienThoai)" :value="c" readonly class="form-control form-control-sm text-placeholder w-40px">
            </form>
          </span>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col">
          <label><b class="text-primary mr-1">12.</b>Đến khám lúc: </label>
          <span>{{formatNgayGio(ngayGioVaoVien)}}</span>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col">
          <label
            ><b class="text-primary mr-1">13.</b>Chẩn đoán của nơi giới
            thiệu:</label
          >
          <span></span>
          <span class="form-inline input-lr2 float-right">
            <input disabled checked type="checkbox" />
            <span class="mr-3">1.Y tế</span> <input disabled type="checkbox" />
            <span class="mr-3">2.Tự đến</span>
          </span>
        </div>
      </div>
    </section>
  </section>

  <section class="container-fluid pt-2 mb-3">
    <div class="row mt-2">
      <h5 class="text-tle">II. Lý do vào viện:</h5>
    </div>

    <div class="row mt-2">
      <span class="ml-4">
        {{hsba.emrBenhAn.lydovaovien}}
      </span>
    </div>

    <div class="row mt-3">
      <h5 class="text-tle">III. Hỏi bệnh:</h5>
    </div>
    <div class="row mt-2">
      <span>
        <b>1. Quá trình bệnh lý</b>
        <i
          >(khởi phát, diễn biến, chẩn đoán, điều trị của tuyến dưới v.v...):</i
        >
      </span>
    </div>
    <div class="row mt-2">
      <span class="ml-4">{{hsba.emrBenhAn.quatrinhbenhly}}</span>
    </div>

    <div class="row mt-3">
      <span> <b>2. Tiền sử bệnh</b>: </span>
    </div>

    <div class="row mt-2">
      <span class="ml-4"
        ><i class="fas fa-fw bullet-small fa-circle"></i> Bản thân</span
      >
    </div>

    <div class="row mt-2 ml-2">
      <span class="ml-4">{{hsba.emrBenhAn.tiensubanthan}}</span>
    </div>

    <div class="row mt-2">
      <span class="ml-4"
        ><i class="fas fa-fw bullet-small fa-circle"></i> Gia đình</span
      >
    </div>

    <div class="row mt-2 ml-2">
      <span class="ml-4">{{hsba.emrBenhAn.tiensugiadinh}}</span>
    </div>

    <div class="row mt-3">
      <h5 class="text-tle">IV. Khám bệnh:</h5>
    </div>
    <div class="row mt-2">
      <span>
        <b>1. Toàn thân</b>
        <i>
          (ý thức, da niêm mạc, hệ thống hạch, tuyến giáp, vị trí, kích thước,
          số lượng, di động v.v...):</i
        >

        <div class="row mt-2 ml-2">
          <span class="ml-4">{{hsba.emrBenhAn.toanthan}}</span>
        </div>
      </span>
    </div>
    <div class="row mt-2">
      <span class="ml-4">{{hsba.emrBenhAn.toanthan}}</span>
    </div>
    <div class="row-mt-2">
      <ul>
        <li>
          Mạch: {{hsba.emrBenhAn.mach}} lần/ph
        </li>
        <li>
          Nhiệt độ: {{hsba.emrBenhAn.nhietdo}} °C
        </li>
        <li>
          Huyết áp: {{hsba.emrBenhAn.huyetapcao}}/{{hsba.emrBenhAn.huyetapthap}}
          mmHg
        </li>
        <li>
          Nhịp thở: {{hsba.emrBenhAn.nhiptho}} lần/ph
        </li>
        <li>
          Cân nặng: {{hsba.emrBenhAn.cannang}} kg
        </li>
      </ul>
    </div>

    <div class="row mt-2">
      <span> <b>2. Các bộ phận:</b> </span>
    </div>
    <div class="row-mt-2">
      <span class="ml-4">Chưa có BA</span>
    </div>

    <div class="row mt-2">
      <span>
        <b>3. Các xét nghiệm cận lâm sáng cần làm:</b>
      </span>
    </div>

    <div class="row mt-2">
      <span class="ml-4">{{hsba.emrBenhAn.xetnghiemcanlamsang}}</span>
    </div>

    <div class="row mt-3">
      <span>
        <b>4. Chẩn đoán ban đầu:</b>
      </span>
    </div>
    <div class="row mt-2">
      <span class="ml-4">Đầy hơi .....</span>
    </div>

    <div class="row mt-3">
      <span> <b>5. Đã xử lý </b><i>(thuốc, chăm sóc):</i> </span>
    </div>
    <div class="row mt-2">
      <span class="ml-4">........</span>
    </div>

    <div class="row mt-3">
      <span>
        <b>6. Chẩn đoán khi ra viện: </b>
      </span>
    </div>
    <div class="row ">
      <div class="col ml-3">
        <span>{{hsba.emrChanDoan.emrDmMaBenhChandoanravienchinh.ten}}</span>
        <form class="form-inline input-lr2 float-right">
          <input v-for="c in toCharArray(chanDoanRaVienChinh.ma)" :value="c" readonly class="form-control form-control-sm text-placeholder w-40px">
        </form>
      </div>
    </div>

    <div class="row mt-3">
      <span>
        <b>7. Điều trị ngoại trú từ ngày </b>
        <span>{{formatNgay(ngayGioVaoVien)}}</span>
        <span>đến ngày </span>
        <span>{{formatNgay(ngayGioRaVien)}}</span>
      </span>
    </div>
  </section>
  <section class="mb-4">
    <div class="row align-items-end">
      <div class="col text-center">
        <h6 class="mb-5">Giám đốc bệnh viện</h6>
        <br />
        <p>Họ và tên <b>{{hsba.giamdocbenhvien}}</b></p>
      </div>
      <div class="col text-center">
        <i class="mb-2"
          ><span>{{formatNgay2(ngayGioRaVien)}}</span></i
        >
        <h6 class="text-center mb-5">Trưởng khoa</h6>
        <br />
        <p>Họ và tên <b>{{khoaDieuTri.tentruongkhoa}}</b></p>
      </div>
    </div>
  </section>
  <section class="mb-4">
    <div class="row mt-3">
      <h4 class="text-tle">B- TỔNG KẾT BỆNH ÁN</h4>
    </div>

    <div class="row mt-3">
      <span>
        <b>1. Quá trình bệnh lý và diễn biến lâm sàng:</b>
      </span>
    </div>

    <div class="row mt-2">
      <span class="ml-4">{{hsba.emrTongKetRaVien.dienbienlamsang}}</span>
    </div>

    <div class="row mt-3">
      <span>
        <b>2. Tóm tắt kết quả xét nghiệm cận lâm sàng có giá trị chẩn đoán:</b>
      </span>
    </div>

    <div class="row mt-2">
      <span class="ml-4">{{hsba.emrTongKetRaVien.canlamsang}}</span>
    </div>

    <div class="row mt-3">
      <span>
        <b>3. Chẩn đoán ra viện:</b>
      </span>
    </div>

    <div class="row mt-2">
      <div class="col">
        <span class="ml-2">Bệnh chính: {{hsba.emrChanDoan.emrDmMaBenhChandoanravienchinh.ten}}
          <form class="form-inline input-lr2 float-right">
            <input v-for="c in toCharArray(chanDoanRaVienChinh.ma)" :value="c" readonly class="form-control form-control-sm text-placeholder w-40px">
          </form>
        </span>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col">
        <span class="ml-2"
          >Bệnh kèm theo: <i>(nếu có)</i>:<span>{{chanDoanRaVienKemTheo.ten}}</span>
          <form class="form-inline input-lr2 float-right">
            <input v-for="c in toCharArray(chanDoanRaVienKemTheo.ma)" :value="c" readonly class="form-control form-control-sm text-placeholder w-40px">
          </form>
        </span>
      </div>
    </div>

    <div class="row mt-3">
      <span>
        <b>4. Phương pháp điều trị:</b>
      </span>
    </div>

    <div class="row mt-2">
      <span class="ml-4">{{hsba.emrTongKetRaVien.phuongphapdieutri}}</span>
    </div>

    <div class="row mt-3">
      <span>
        <b>5. Tình trạng người bệnh ra viện:</b>
      </span>
    </div>

    <div class="row mt-2">
      <span class="ml-4">{{hsba.emrTongKetRaVien.tinhtrangnguoibenh}}</span>
    </div>

    <div class="row mt-3">
      <span>
        <b>6. Hướng điều trị và các chế độ tiếp theo:</b>
      </span>
    </div>

    <div class="row mt-2">
      <span class="ml-4">{{hsba.emrTongKetRaVien.chidandieutri}}</span>
    </div>

    <div class="row mt-3">
      <table class="table table-bordered">
        <tr>
          <th colspan="2">
            <center>Hồ sơ, phim, ảnh</center>
          </th>
          <td rowspan="4">
            <center class="mb-5"><b>Người giao hồ sơ:</b></center>
            <p>Họ và tên:{{hsba.emrTongKetRaVien.nguoigiaohoso}}</p>
          </td>
          <td rowspan="8">
            <div class="col text-center">
              <i
              <i>{{formatNgay2(ngayKyDieuTri)}}</i>
                
              
              <h6 class="text-center mt-2 mb-5"><b> Bác sĩ điều trị </b></h6>
              <br />
              <p>Họ và tên <b></b></p>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <center><b>Loại</b></center>
          </td>
          <td>
            <center><b>Số tờ</b></center>
          </td>
        </tr>
        <tr>
          <td>- X - Quang</td>
          <td>
            <center>{{hsba.emrTongKetRaVien.soToXQuang}}</center>
          </td>
        </tr>
        <tr>
          <td>- CT Scanner</td>
          <td>
            <center>{{hsba.emrTongKetRaVien.soToCTScanner}}</center>
          </td>
        </tr>
        <tr>
          <td>- Siêu âm</td>
          <td>
            <center>{{hsba.emrTongKetRaVien.soToSieuAm}}</center>
          </td>
          <td rowspan="4">
            <center class="mb-5"><b> Người nhận hồ sơ:</b></center>
            <p>Họ và tên:{{hsba.emrTongKetRaVien.nguoinhanhoso}}</p>
          </td>
        </tr>
        <tr>
          <td>- Xét nghiệm</td>
          <td>
            <center>{{hsba.emrTongKetRaVien.soToXetNghiem}}</center>
          </td>
        </tr>
        <tr>
          <td>- Khác</td>
          <td>
            <center>{{hsba.emrTongKetRaVien.soToKhac}}</center>
          </td>
        </tr>
        <tr>
          <td>- Toàn bộ hồ sơ</td>
          <td>
            <center>
              {{hsba.emrTongKetRaVien.soToXQuang+hsba.emrTongKetRaVien.soToCTScanner+hsba.emrTongKetRaVien.soToSieuAm+hsba.emrTongKetRaVien.soToXetNghiem+hsba.emrTongKetRaVien.soToKhac
              || ""}}
            </center>
          </td>
        </tr>
      </table>
    </div>
  </section>
</div>
