<div class="container">
  <section class="container-fluid pt-2 mb-3">
    <div class="row">
      <div class="col-5">
        Sở Y tế: <strong>{{hsba.emrCoSoKhamBenh.donvichuquan}}</strong><br>
        Bệnh viện: <strong class="text-danger">{{hsba.emrCoSoKhamBenh.ten}}</strong> <br>
        Khoa: <strong class="mr-3 text-primary">Gan mật</strong>Giường <strong class="text-success">Số 5</strong>
      </div>
      <div class="col-4">
        <h3 class="text-tle mt-3">BỆNH ÁN NHI KHOA</h3>
      </div>
      <div class="col-3">
        Số lưu trữ: <strong class="text-info">20102019</strong> <br>
        Mã YT: <span class="text-danger"> <strong>{{hsba.mayte}}</strong></span>
      </div>
    </div>
  </section>

  <section class="container-fluid pt-2 mb-3">
    <section class="mb-4">
      <h5 class="text-tle">I. HÀNH CHÍNH:</h5>
      <div class="row mb-2">
        <div class="ml-auto col-1">Tuổi</div>
      </div>

      <div class="row mb-2">
        <div class="col-2">
          <label><b class="text-primary mr-1">1.</b> Họ và tên:</label>
        </div>
        <div class="col-3">
          <span class="text-uppercase"><b>{{hsba.emrBenhNhan.tendaydu }}</b></span>
        </div>
        <div class="col-7">
          <div class="form-inline input-lr2 float-left">
            <label><b class="text-primary mr-1">2.</b>Sinh ngày:</label>
            <input readonly value="0" class="form-control form-control-sm text-placeholder w-40px">
            <input readonly value="1" class="form-control form-control-sm text-placeholder w-40px mr-2">
            <input readonly value="0" class="form-control form-control-sm text-placeholder w-40px">
            <input readonly value="1" class="form-control form-control-sm text-placeholder w-40px mr-2">
            <input readonly value="2" class="form-control form-control-sm text-placeholder w-40px">
            <input readonly value="0" class="form-control form-control-sm text-placeholder w-40px">
            <input readonly value="0" class="form-control form-control-sm text-placeholder w-40px">
            <input readonly value="0" class="form-control form-control-sm text-placeholder w-40px">
          </div>

          <div class="form-inline input-lr2 float-right">
            <input readonly value="2" class="form-control form-control-sm text-placeholder w-40px">
            <input readonly value="0" class="form-control form-control-sm text-placeholder w-40px">
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-2">
          <label class="mr-auto "><b class="text-primary mr-1">3.</b> Giới:</label>
        </div>
        <div class="col-4">
          <input disabled type="checkbox"> <span class="mr-3">Nam</span>
          <input disabled type="checkbox"> <span class="mr-3">Nữ</span>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-6">
          <label><b class="text-primary mr-1">4.</b>Dân tộc:</label>
          <span>Kinh</span>
          <form class="form-inline input-lr2 float-right">
            <input readonly value="0" class="form-control form-control-sm text-placeholder w-40px">
            <input readonly value="1" class="form-control form-control-sm text-placeholder w-40px">
          </form>
        </div>

        <div class="col-6">
          <label><b class="text-primary mr-1">5.</b>Ngoại kiều:</label>
          <span>Việt Nam</span>
          <form class="form-inline input-lr2 float-right">
            <input readonly value="0" class="form-control form-control-sm text-placeholder w-40px">
            <input readonly value="1" class="form-control form-control-sm text-placeholder w-40px">
          </form>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-6">
          <label><b class="text-primary mr-1">5.</b>Địa chỉ:</label>
          <span>Số nhà....., đường .....</span>
        </div>
        <div class="col-6">
          <label>Xã, phường:</label>
          <span>Cát Linh</span>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-6">
          <label>Huyện (Q, Tx):</label>
          <span>Đống Đa</span>
          <form class="form-inline input-lr2 float-right">
            <input readonly value="0" class="form-control form-control-sm text-placeholder w-40px">
            <input readonly value="1" class="form-control form-control-sm text-placeholder w-40px">
          </form>
        </div>
        <div class="col-6">
          <label>Tỉnh, thành phố:</label>
          <span>Hà Nội</span>
          <form class="form-inline input-lr2 float-right">
            <input readonly value="0" class="form-control form-control-sm text-placeholder w-40px">
            <input readonly value="1" class="form-control form-control-sm text-placeholder w-40px">
          </form>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-3">
          <label><b class="text-primary mr-1">7.</b>Họ tên bố:</label>
          <span>Nguyễn Văn A</span>
        </div>
        <div class="col-3">
          <label>Trình độ VH của bố:</label>
          <span>1/12</span>
        </div>
        <div class="col-3">
          <label>Họ tên mẹ:</label>
          <span>Nguyễn Thị B</span>
        </div>
        <div class="col-3">
          <label>Trình độ VH của mẹ:</label>
          <span>PGS.TSKH</span>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-6">
          <label>Nghề nghiệp của bố:</label>
          <span>Nông dân</span>
        </div>
        <div class="col-6">
          <label>Nghề nghiệp của mẹ:</label>
          <span>Bộ Trưởng</span>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-8">
          <label><b class="text-primary mr-1">8.</b> Đối tượng:</label>
          <div class="ml-3">
            <input disabled checked type="checkbox"> <span class="mr-3">1.BHYT</span>
            <input disabled type="checkbox"> <span class="mr-3">2.Thu phí</span>
            <input disabled type="checkbox"> <span class="mr-3">3.Miễn</span>
            <input disabled type="checkbox"> <span class="mr-3">4.Khác</span>
          </div>
        </div>

      </div>
      <div class="row mb-2">
        <div class="col-6">
          <label><b class="text-primary mr-1">9.</b>
            BHYT giá trị đến ngày:</label> <span>01</span>
          <label>tháng</label> <span>01</span>
          <label>năm</label> <span>2020</span>
        </div>
        <div class="col-6">
          <label>Số thẻ BHYT:</label>
          <form class="form-inline input-lr2 float-right">
            <input readonly value="CN" class="form-control form-control-sm text-placeholder w-60px">
            <input readonly value="3" class="form-control form-control-sm text-placeholder w-60px">
            <input readonly value="01" class="form-control form-control-sm text-placeholder w-60px">
            <input readonly value="0003500099" class="form-control form-control-sm text-placeholder w-140px">
          </form>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-12">
          <label><b class="text-primary mr-1">10.</b>Họ tên, địa chỉ người nhà khi cần
            báo tin:</label>
          <span>Nguyễn Văn A</span>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-12">
          <label>Địa chỉ:</label>
          <span>Nhà số ...., đường, xã ..., huyện ...., tỉnh .....</span>
        </div>
      </div>
    </section>
    <section class="mb-4">
      <h5 class="text-tle">II. QUẢN LÝ NGƯỜI BỆNH:</h5>
      <div class="row mb-2">
        <div class="col-6">
          <div class="row mb-2">
            <div class="col">
              <label><b class="text-primary mr-1">11.</b>Vào viện: </label>
              <span>10</span> <label>giờ</label>
              <span>00</span> <label>ph</label>
              <label>ngày</label> <span>01</span>
              <label>/</label> <span>01</span>
              <label>/</label> <span>2020</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label><b class="text-primary mr-1">12.</b>Trực tiếp vào: </label>
              <br>
              <div class="ml-3">
                <input disabled type="checkbox"> <span class="mr-3">1.Cấp cứu</span>
                <input disabled checked type="checkbox"> <span class="mr-3">2.KKB</span>
                <input disabled type="checkbox"> <span class="mr-3">3.Khoa điều trị</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row mb-2">
            <div class="col">
              <label><b class="text-primary mr-1">13.</b>Nơi giới thiệu: </label>
              <br>
              <div class="ml-3">
                <input disabled type="checkbox"> <span class="mr-3">1.Cơ quan y tế</span>
                <input disabled checked type="checkbox"> <span class="mr-3">2.Tự đến</span>
                <input disabled type="checkbox"> <span class="mr-3">3.Khác</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label><i class="fas fa-fw bullet-small fa-circle"></i>
                Vào viện do bệnh này lần thứ:</label>
              <span>5</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-6">
          <div class="row mb-3">
            <div class="col">
              <label><b class="text-primary mr-1">14.</b>Vào khoa: </label>
              <table style="width:100%">
                <tr>
                  <th class="text-center" style="width:35%">Khoa</th>
                  <th class="text-center" style="width:35%">Ngày giờ vào khoa</th>
                  <th class="text-center" style="width:30%">Số ngày điều trị</th>
                </tr>
                <tr>
                  <td>Khoa khám bệnh</td>
                  <td class="text-center">01/01/2020 10:00</td>
                  <td class="text-center">5</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label><b class="text-primary mr-1">15.</b>Chuyển khoa: </label>
              <table class="table">
                <tr>
                  <th class="text-center" style="width:35%">Khoa</th>
                  <th class="text-center" style="width:35%">Ngày giờ vào khoa</th>
                  <th class="text-center" style="width:30%">Số ngày điều trị</th>
                </tr>
                <tr>
                  <td>Khoa điều trị S1</td>
                  <td class="text-center">05/01/2020 10:00</td>
                  <td class="text-center">2</td>
                </tr>
                <tr>
                  <td>Khoa điều trị S1</td>
                  <td class="text-center">07/01/2020 10:00</td>
                  <td class="text-center">2</td>
                </tr>
                <tr>
                  <td>Khoa điều trị S1</td>
                  <td class="text-center">09/01/2020 10:00</td>
                  <td class="text-center">2</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row mb-2">
            <div class="col">
              <label><b class="text-primary mr-1">16.</b>Chuyển viện:</label>
              <br>
              <div class="ml-3">
                <input disabled checked type="checkbox"> <span class="mr-3">1.Tuyến trên</span>
                <input disabled type="checkbox"> <span class="mr-3">2.Tuyến dưới</span>
                <input disabled type="checkbox"> <span class="mr-3">3.CK</span>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              <label><i class="fas fa-fw bullet-small fa-circle"></i>
                Chuyển đến:</label>
              <span>Bệnh viện tuyến trên ....</span>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col">
              <label><b class="text-primary mr-1">17.</b>Ra viện: </label>
              <span>10</span> <label>giờ</label>
              <span>00</span> <label>ph</label>
              <label>ngày</label> <span>10</span>
              <label>/</label> <span>01</span>
              <label>/</label> <span>2020</span>
              <br>
              <div class="ml-3">
                <input disabled checked type="checkbox"> <span class="mr-3">1.Ra viện</span>
                <input disabled type="checkbox"> <span class="mr-3">2.Xin về</span>
                <input disabled type="checkbox"> <span class="mr-3">3.Bỏ về</span>
                <input disabled type="checkbox"> <span class="mr-3">4.Đưa về</span>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              <label><b class="text-primary mr-1">18.</b>Tổng số ngày điều trị: </label>
              <span>10</span>
            </div>
          </div>

        </div>
      </div>

    </section>
    <section class="mb-4">
      <div class="row mb-2">
        <div class="col-5">
          <h5 class="text-tle">III. CHẨN ĐOÁN:</h5>
        </div>
        <div class="col-1 text-center mr-auto"><strong>MÃ</strong></div>
        <div class="col-1 text-center col-auto"><strong>MÃ</strong></div>
      </div>
      <div class="row mb-2">
        <div class="col-6">
          <div class="row mb-2">
            <div class="col">
              <label><b class="text-primary mr-1">19.</b>Nơi chuyển đến: </label>
              <span>Vàng da do thiếu máu .....</span>
              <form class="form-inline input-lr2 float-right">
                <input readonly value="0" class="form-control form-control-sm text-placeholder w-40px">
                <input readonly value="0" class="form-control form-control-sm text-placeholder w-40px">
                <input readonly value="0" class="form-control form-control-sm text-placeholder w-40px">
                <input readonly value="1" class="form-control form-control-sm text-placeholder w-40px">
              </form>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col">
              <label><b class="text-primary mr-1">20.</b>KKB, Cấp cứu: </label>
              <span>Vàng da do thiếu máu .....</span>
              <form class="form-inline input-lr2 float-right">
                <input readonly value="0" class="form-control form-control-sm text-placeholder w-40px">
                <input readonly value="0" class="form-control form-control-sm text-placeholder w-40px">
                <input readonly value="0" class="form-control form-control-sm text-placeholder w-40px">
                <input readonly value="1" class="form-control form-control-sm text-placeholder w-40px">
              </form>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col">
              <label><b class="text-primary mr-1">21.</b>Khi vào khoa điều trị: </label>
              <span>Vàng da do thiếu máu .....</span>
              <form class="form-inline input-lr2 float-right">
                <input readonly value="0" class="form-control form-control-sm text-placeholder w-40px">
                <input readonly value="0" class="form-control form-control-sm text-placeholder w-40px">
                <input readonly value="0" class="form-control form-control-sm text-placeholder w-40px">
                <input readonly value="1" class="form-control form-control-sm text-placeholder w-40px">
              </form>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="ml-3">
                <input disabled type="checkbox"> <span class="mr-3">Thủ thuật</span>
                <input disabled type="checkbox"> <span class="mr-3">Phẫu thuật</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="row mb-2">
            <div class="col">
              <label><b class="text-primary mr-1">22.</b>Ra viện: </label>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col">
              <label><i class="fas fa-fw bullet-small fa-circle"></i> Bệnh
                chính:</label><br>
              <span>Vàng da do thiếu máu .....</span>
              <form class="form-inline input-lr2 float-right">
                <input readonly value="0" class="form-control form-control-sm text-placeholder w-40px">
                <input readonly value="0" class="form-control form-control-sm text-placeholder w-40px">
                <input readonly value="0" class="form-control form-control-sm text-placeholder w-40px">
                <input readonly value="1" class="form-control form-control-sm text-placeholder w-40px">
              </form>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col">
              <label><i class="fas fa-fw bullet-small fa-circle"></i> Bệnh kèm
                theo:</label><br>
              <span>Vàng da do thiếu máu .....</span>
              <form class="form-inline input-lr2 float-right">
                <input readonly value="0" class="form-control form-control-sm text-placeholder w-40px">
                <input readonly value="0" class="form-control form-control-sm text-placeholder w-40px">
                <input readonly value="0" class="form-control form-control-sm text-placeholder w-40px">
                <input readonly value="1" class="form-control form-control-sm text-placeholder w-40px">
              </form>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="ml-3">
                <input disabled type="checkbox"> <span class="mr-3">Tai biến</span>
                <input disabled type="checkbox"> <span class="mr-3">Biến chứng</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="mb-4">
      <h5 class="text-tle">IV. TÌNH TRẠNG RA VIỆN</h5>
      <div class="row mb-2">
        <div class="col-5">
          <div class="row mb-2">
            <div class="col">
              <label><b class="text-primary mr-1">23.</b>Kết quả điều trị: </label>
              <br>
              <div class="ml-3">
                <input disabled checked type="checkbox"> <span class="mr-3">1.Khỏi</span>
                <br>
                <input disabled type="checkbox"> <span class="mr-3">2.Đỡ, giảm</span>
                <br>
                <input disabled type="checkbox"> <span class="mr-3">3.Không thay đổi</span>
                <br>
                <input disabled type="checkbox"> <span class="mr-3">4.Nặng hơn</span>
                <br>
                <input disabled type="checkbox"> <span class="mr-3">5.Tử vong</span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label><b class="text-primary mr-1">24.</b>Giải phẫu bệnh <i>(khi có sinh thiết):</i></label>
              <br>
              <div class="ml-3">
                <input disabled checked type="checkbox"> <span class="mr-3">1.Lành tính</span>
                <input disabled type="checkbox"> <span class="mr-3">2.Nghi ngờ</span>
                <input disabled type="checkbox"> <span class="mr-3">3.Ác tính</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-7">
          <div class="row mb-2">
            <div class="col">
              <label><b class="text-primary mr-1">25.</b>Tình hình tử vong: </label>
              <span>21</span> <label>giờ</label>
              <span>50</span> <label>ph</label>
              <label>ngày</label> <span>25</span>
              <label>/</label> <span>11</span>
              <label>/</label> <span>2019</span>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col">
              <div class="ml-3">
                <input disabled type="checkbox"> <span class="mr-3">1.Do bệnh</span>
                <input disabled type="checkbox"> <span class="mr-3">2.Do tai biến điều trị</span>
                <input disabled type="checkbox"> <span class="mr-3">3.Khác</span>
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col">
              <div class="ml-3">
                <input disabled type="checkbox"> <span class="mr-3">1.Trong 24 giờ vào viện</span>
                <input disabled type="checkbox"> <span class="mr-3">2.Sau 24 giờ vào viện</span>
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col">
              <label><b class="text-primary mr-1">26.</b>Nguyên nhân chính tử vong: </label>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col">
              <label><i class="fas fa-fw bullet-small fa-circle"></i> Bệnh chính:</label><br>
              <span>Thiếu tiền .....</span>
              <form class="form-inline input-lr2 float-right">
                <input readonly value="0" class="form-control form-control-sm text-placeholder w-40px">
                <input readonly value="0" class="form-control form-control-sm text-placeholder w-40px">
                <input readonly value="0" class="form-control form-control-sm text-placeholder w-40px">
                <input readonly value="1" class="form-control form-control-sm text-placeholder w-40px">
              </form>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col">
              <label><b class="text-primary mr-1">27.</b>Khám nghiệm tử thi: </label> <input type="checkbox" disabled>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col">
              <label><b class="text-primary mr-1">28.</b>Chẩn đoán giải phẫu tử thi: </label>
              <span>Không thấy gì .....</span>
              <form class="form-inline input-lr2 float-right">
                <input readonly value="0" class="form-control form-control-sm text-placeholder w-40px">
                <input readonly value="0" class="form-control form-control-sm text-placeholder w-40px">
                <input readonly value="0" class="form-control form-control-sm text-placeholder w-40px">
                <input readonly value="1" class="form-control form-control-sm text-placeholder w-40px">
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="mb-4">
      <div class="row align-items-end">
        <div class="col text-center">
          <h6 class="mb-5">Giám đốc bệnh viện</h6>
          <br>
          <p>Họ và tên <b>Nguyễn Văn Bác Sỹ</b></p>
        </div>
        <div class="col text-center">
          <i class="mb-2">Ngày <span>10</span> tháng <span>01</span> năm <span>2020</span></i>
          <h6 class="text-center mb-5">Trưởng khoa</h6>
          <br>
          <p>Họ và tên <b>Nguyễn Văn Bác Sỹ</b></p>
        </div>
      </div>
    </section>
  </section>

  <section class="container-fluid">
    <div class="pt-2 mb-4">
      <div class="w mt-3">
        <h4>A- BỆNH ÁN</h4>
      </div>
      <div class="w mt-2">
        <h5>I. Lý do vào viện:</h5>
      </div>
      <div class="w">
        <span>{{hsba.emrBenhAn.lydovaovien}}</span>
      </div>
      <div class="w mt-3">
        Vào ngày thứ &nbsp <span>{{hsba.emrBenhAn.vaongaythu}}</span> &nbsp của bệnh
      </div>
      <div class="w mt-3">
        <h5>II. Hỏi bệnh:</h5>
      </div>
      <div class="w mt-2">
        <h6>1. Quá trình bệnh lý:</h6>
        <i>(khởi phát, diễn biến, chẩn đoán, điều trị của tuyến dưới v.v...).</i>
      </div>
      <div class="w mt-2">
        <span>{{hsba.emrBenhAn.quatrinhbenhly}}</span>
      </div>
      <div class="w mt-2">
        <h6>2. Tiền sử bệnh:</h6>
      </div>
      <div class="w mt-2">
        + Bản thân:
        <i>(phát triển thể lực từ nhỏ đến lớn, những bệnh đã mắc, phương pháp ĐTr,
          tiêm phòng, ăn uống, sinh hoạt vv...)</i>
      </div>
      <div class="w mt-2">
        <span>{{hsba.emrBenhAn.tiensubanthan}}</span>
      </div>
      <div class="w mt-2">
        + Gia đình:
        <i>(Những người trong gia đình: bệnh đã mắc, đời sống, tinh thần, vật chất
          v.v...).</i>
      </div>
      <div class="w mt-2">
        <span>.................................................................................................................................</span>
      </div>
      <div class="w mt-2">
        <h6>3. Quá trình sinh trưởng:</h6>
      </div>
      <div class="w mt-2">- Con thứ mấy: <span>................</span></div>
      <div class="w mt-2">
        - Tiền thai (Para):
      </div>
      <div class="row mt-2 pl-4">
        <label class="mr-3">Sinh đủ tháng</label>
        {{hsba.emrBenhAn.emrCkTienSuSanKhoa.paraDuthang}}<input type="checkbox" />
        <label class="mr-3">Sớm (đẻ non)</label>
        {{hsba.emrBenhAn.emrCkTienSuSanKhoa.paraDenon}}<input type="checkbox" />
        <label class="mr-3">Sẩy (nạo, hút)</label>{{hsba.emrBenhAn.emrCkTienSuSanKhoa.paraSay}}<input type="checkbox" />
        <label class="mr-3">Sống</label>{{hsba.emrBenhAn.emrCkTienSuSanKhoa.paraSong}}<input type="checkbox" />
      </div>
      <div class="w mt-2">
        - Tình trạng khi sinh:
      </div>
      <div class="w mt-2 pl-4">
        <label class="mr-3">1.Đẻ thường</label>
        <label class="mr-3" v-if="hsba.emrBenhAn.emrCkQuaTrinhSinhTruong.dethuong==false"><input
            type="checkbox" /></label>
        <label v-else><input type="checkbox" checked /></label>

        <label class="mr-3">2.Forceps</label>
        <label class="mr-3" v-if="hsba.emrBenhAn.emrCkQuaTrinhSinhTruong.forceps==false"><input
            type="checkbox" /></label>
        <label v-else><input type="checkbox" checked /></label>

        <label class="mr-3">3.Giác hút</label>
        <label class="mr-3" v-if="hsba.emrBenhAn.emrCkQuaTrinhSinhTruong.giachut==false"><input
            type="checkbox" /></label>
        <label v-else><input type="checkbox" checked /></label>

        <label class="mr-3">4.Đẻ phẫu thuật</label>
        <label class="mr-3" v-if="hsba.emrBenhAn.emrCkQuaTrinhSinhTruong.dephauthuat==false"><input
            type="checkbox" /></label>
        <label v-else><input type="checkbox" checked /></label>

        <label class="mr-3">5.Đẻ chỉ huy</label>
        <label class="mr-3" v-if="hsba.emrBenhAn.emrCkQuaTrinhSinhTruong.dechihuy==false"><input
            type="checkbox" /></label>
        <label v-else><input type="checkbox" checked /></label>

        <label class="mr-3">6.Khác</label>
        <label class="mr-3" v-if="hsba.emrBenhAn.emrCkQuaTrinhSinhTruong.dekhac==false"><input
            type="checkbox" /></label>
        <label v-else><input type="checkbox" checked /></label>
      </div>
      <div class="w mt-2">
        - Cân nặng lúc sinh: <span>................</span> kg
      </div>
      <div class="w mt-2 pl-2">
        Dị tật bẩm sinh:
        <label class="mr-3" v-if="hsba.emrBenhAn.emrCkQuaTrinhSinhTruong.coditat==false"><input
            type="checkbox" /></label>
        <label v-else><input type="checkbox" checked /></label>
        Cụ thể tật bẩm sinh:
        <span>{{hsba.emrBenhAn.emrCkQuaTrinhSinhTruong.motaditat}}</span>
      </div>
      <div class="w mt-2">
        - Phát triển về tinh thần:
        <span>{{hsba.emrBenhAn.emrCkQuaTrinhSinhTruong.phatrientinhthan}}</span>
      </div>
      <div class="w mt-2">
        - Phát triển về vận động:
        <span>{{hsba.emrBenhAn.emrCkQuaTrinhSinhTruong.phattrienvandong}}</span>
      </div>
      <div class="w mt-2">
        - Các bệnh lý khác:
        <span>{{hsba.emrBenhAn.emrCkQuaTrinhSinhTruong.benhlykhac}}</span>
      </div>
      <div class="w mt-2">
        - Nuôi dưỡng:
      </div>
      <div class="w mt-2 pl-4">
        <label class="mr-3">1. Sữa mẹ</label>
        <label class="mr-3" v-if="hsba.emrBenhAn.emrCkQuaTrinhSinhTruong.suame==false"><input type="checkbox" /></label>
        <label v-else><input type="checkbox" checked /></label>

        <label class="mr-3">2. Nuôi nhân tạo</label>
        <label class="mr-3" v-if="hsba.emrBenhAn.emrCkQuaTrinhSinhTruong.suagoai==false"><input
            type="checkbox" /></label>
        <label v-else><input type="checkbox" checked /></label>

        <label class="mr-3">3. Hỗn hợp</label>
        <label class="mr-3" v-if="hsba.emrBenhAn.emrCkQuaTrinhSinhTruong.honhop==false"><input
            type="checkbox" /></label>
        <label v-else><input type="checkbox" checked /></label>
      </div>
      <div class="w mt-2">- Cai sữa tháng thứ: <span>................</span></div>
      <div class="w mt-2">
        - Chăm sóc:
      </div>
      <div class="w mt-2 pl-4">
        <label class="mr-3">1. Tại vườn trẻ</label>
        <label class="mr-3" v-if="hsba.emrBenhAn.emrCkQuaTrinhSinhTruong.vuontre==false"><input
            type="checkbox" /></label>
        <label v-else><input type="checkbox" checked /></label>

        <label class="mr-3">2. Tại nhà</label>
        <label class="mr-3" v-if="hsba.emrBenhAn.emrCkQuaTrinhSinhTruong.tainha==false"><input
            type="checkbox" /></label>
        <label v-else><input type="checkbox" checked /></label>
      </div>
      <div class="w mt-2">
        - Đã tiêm chủng:
      </div>
      <div class="w mt-2 pl-4">
        <label class="mr-3">1. Lao</label>
        <label class="mr-3" v-if="hsba.emrBenhAn.emrCkTiemChung.tclao==false"><input type="checkbox" /></label>
        <label v-else><input type="checkbox" checked /></label>

        <label class="mr-3">2.Bại liệt</label>
        <label class="mr-3" v-if="hsba.emrBenhAn.emrCkTiemChung.tcbailiet==false"><input type="checkbox" /></label>
        <label v-else><input type="checkbox" checked /></label>

        <label class="mr-3">3.Sởi </label>
        <label class="mr-3" v-if="hsba.emrBenhAn.emrCkTiemChung.tcsoi==false"><input type="checkbox" /></label>
        <label v-else><input type="checkbox" checked /></label>

        <label class="mr-3">4.Ho gà</label>
        <label class="mr-3" v-if="hsba.emrBenhAn.emrCkTiemChung.tchoga==false"><input type="checkbox" /></label>
        <label v-else><input type="checkbox" checked /></label>

        <label class="mr-3">5.Uốn ván</label>
        <label class="mr-3" v-if="hsba.emrBenhAn.emrCkTiemChung.tcuonvan==false"><input type="checkbox" /></label>
        <label v-else><input type="checkbox" checked /></label>

        <label class="mr-3">6.Bạch hầu</label>
        <label class="mr-3" v-if="hsba.emrBenhAn.emrCkTiemChung.tcbachhau==false"><input type="checkbox" /></label>
        <label v-else><input type="checkbox" checked /></label>

        <label class="mr-3">7.Tiêm chủng khác</label>
        <label class="mr-3" v-if="hsba.emrBenhAn.emrCkTiemChung.tckhac==false"><input type="checkbox" /></label>
        <label v-else><input type="checkbox" checked /></label>
      </div>
      <div class="w mt-2">
        - Cụ thể những bệnh khác được tiêm chủng:
        <span>{{hsba.emrBenhAn.emrCkTiemChung.tcmotakhac}}</span>
      </div>
      <div class="w mt-3">
        <h5>III-Khám bệnh:</h5>
      </div>
      <div class="w mt-2">
        <h6>1. Toàn thân:</h6>
        <i>(ý thức, da niêm mạc, hệ thống hạch, tuyến giáp, vị trí, kích thước, số
          lượng, di động v.v...)</i>
      </div>
      <div class="w mt2">
        <div class="col-4">
          <div class="row">
            - Chiều cao: <span>&nbsp{{hsba.emrBenhAn.chieucao}}&nbsp</span> cm
          </div>
          <div class="row">- Vòng ngực: <span>................</span> cm</div>
          <div class="row">- Vòng đầu: <span>................</span> cm</div>
        </div>
        <div class="col-4">
          <div class="row">
            - Mạch: <span>&nbsp{{hsba.emrBenhAn.mach}}&nbsp</span> lần/ph
          </div>
          <div class="row">
            - Nhiệt độ: <span>&nbsp{{hsba.emrBenhAn.nhietdo}}&nbsp</span> °C
          </div>
          <div class="row">
            - Huyết áp: <span>&nbsp{{hsba.emrBenhAn.huyetapcao}}</span>/<span>{{hsba.emrBenhAn.huyetapthap}}&nbsp</span>
            mmHg
          </div>
          <div class="row">
            - Nhịp thở: <span>&nbsp;{{hsba.emrBenhAn.nhiptho}}&nbsp;</span> lần/ph
          </div>
          <div class="row">
            - Cân nặng: <span>&nbsp;{{hsba.emrBenhAn.cannang}}&nbsp;</span> kg
          </div>
        </div>
      </div>
      <div class="w mt-2">
        <h6>2. Các cơ quan:</h6>
      </div>
      <div class="w mt-2">
        + Tuần hoàn:
      </div>
      <div class="w mt-2">
        <span>{{hsba.emrBenhAn.tuanhoan}}</span>
      </div>
      <div class="w mt-2">
        + Hô hấp:
      </div>
      <div class="w mt-2">
        <span>{{hsba.emrBenhAn.hohap}}</span>
      </div>
      <div class="w mt-2">
        + Tiêu hoá:
      </div>
      <div class="w mt-2">
        <span>{{hsba.emrBenhAn.tieuhoa}}</span>
      </div>
      <div class="w mt-2">
        + Thận- Tiết niệu- Sinh dục:
      </div>
      <div class="w mt-2">
        <span>{{hsba.emrBenhAn.tietnieusinhduc}}</span>
      </div>
      <div class="w mt-2">
        + Thần Kinh:
      </div>
      <div class="w mt-2">
        <span>{{hsba.emrBenhAn.thankinh}}</span>
      </div>
      <div class="w mt-2">
        + Cơ- Xương- Khớp:
      </div>
      <div class="w mt-2">
        <span>{{hsba.emrBenhAn.coxuongkhop}}</span>
      </div>
      <div class="w mt-2">
        + Tai- Mũi- Họng, Răng-Hàm-Mặt, Mắt, Dinh dưỡng và các bệnh lý khác:
      </div>
      <div class="w mt-2">
        <span>{{hsba.emrBenhAn.taimuihong}}{{hsba.emrBenhAn.ranghammat}}{{hsba.emrBenhAn.mat}}{{hsba.emrBenhAn.noitietdinhduong}}{{hsba.emrBenhAn.coquankhac}}</span>
      </div>
      <div class="w mt-2">
        <h6>3. Các xét nghiệm cận lâm sàng cần làm:</h6>
      </div>
      <div class="w mt-2">
        <span>{{hsba.emrBenhAn.xetnghiemcanlamsang}}</span>
      </div>
      <div class="w mt-2">
        <h6>4. Tóm tắt bệnh án:</h6>
      </div>
      <div class="w mt-2">
        <span>{{hsba.emrBenhAn.tomtat}}</span>
      </div>
      <div class="w mt-3">
        <h5>IV. Chẩn đoán khi vào khoa điều trị:</h5>
      </div>
      <div class="w mt-2">
        + Bệnh chính:
      </div>
      <div class="w mt-2">
        {{ hsba.emrBenhAn.emrDmMaBenhChandoanbenhchinh.ten }}
      </div>
      <div class="w mt-2">+ Bệnh kèm theo <i>(nếu có)</i>:</div>
      <div class="w mt-2">
        <span v-for="(emrDm,i) in hsba.emrBenhAn.emrDmMaBenhChandoankemtheos">
          {{ emrDm.ten }}
          <span v-if="i+1< hsba.emrBenhAn.emrDmMaBenhChandoankemtheos.length">,</span>
        </span>
      </div>
      <div class="w mt-2">
        + Phân biệt:
      </div>
      <div class="w mt-2">
        <span>.................................................................................................................................</span>
      </div>
      <div class="w mt-3">
        <h5>V. Tiên lượng:</h5>
      </div>
      <div class="w mt-2">
        <span>{{hsba.emrBenhAn.tienluong}}</span>
      </div>
      <div class="w mt-3">
        <h5>VI. Hướng điều trị:</h5>
      </div>
      <div class="w mt-2">
        <span>{{hsba.emrBenhAn.huongdieutri}}</span>
      </div>

      <div class="w">
        <div class="col-4 offset-4">
          <div class="row">
            <i>Ngày</i> <span>{{hsba.emrBenhAn.ngaykybenhan}}</span>
          </div>
          <div class="row mt-2">
            <h6>Bác sỹ làm bệnh án</h6>
          </div>
          <div class="row mt-2">
            <i>Họ và tên: </i> <span>{{hsba.emrBenhAn.bacsylambenhan}}</span>
          </div>
        </div>
      </div>
      <div class="w mt-3">
        <h4>B- TỔNG KẾT BỆNH ÁN</h4>
      </div>
      <div class="w mt-2">
        <h5>1. Quá trình bệnh lý và diễn biến lâm sàng:</h5>
      </div>
      <div class="w mt-2">
        <span>{{hsba.emrTongKetRaVien.dienbienlamsang}}</span>
      </div>
      <div class="w mt-2">
        <span>.................................................................................................................................</span>
      </div>
      <div class="w mt-2">
        <span>.................................................................................................................................</span>
      </div>
      <div class="w mt-2">
        <h5>2. Tóm tắt kết quả xét nghiệm cận lâm sàng có giá trị chẩn đoán:</h5>
      </div>
      <div class="w mt-2">
        <span>{{hsba.emrTongKetRaVien.canlamsang}}</span>
      </div>
      <div class="w mt-2">
        <span>.................................................................................................................................</span>
      </div>
      <div class="w mt-2">
        <span>.................................................................................................................................</span>
      </div>
      <div class="w mt-2">
        <h5>3. Phương pháp điều trị:</h5>
      </div>
      <div class="w mt-2">
        <span>{{hsba.emrTongKetRaVien.phuongphapdieutri}}</span>
      </div>
      <div class="w mt-2">
        <span>.................................................................................................................................</span>
      </div>
      <div class="w mt-2">
        <span>.................................................................................................................................</span>
      </div>
      <div class="w mt-2">
        <h5>4. Tình trạng người bệnh ra viện:</h5>
      </div>
      <div class="w mt-2">
        <span>{{hsba.emrTongKetRaVien.tinhtrangnguoibenh}}</span>
      </div>
      <div class="w mt-2">
        <span>.................................................................................................................................</span>
      </div>
      <div class="w mt-2">
        <span>.................................................................................................................................</span>
      </div>
      <div class="w mt-2">
        <h5>5. Hướng điều trị và các chế độ tiếp theo:</h5>
      </div>
      <div class="w mt-2">
        <span>{{hsba.emrTongKetRaVien.chidandieutri}}</span>
      </div>
      <div class="w mt-2">
        <span>.................................................................................................................................</span>
      </div>
      <div class="w mt-2">
        <span>.................................................................................................................................</span>
      </div>
      <div>
        <table style="width:100%" border="1">
          <tr>
            <th colspan="2">
              <center>Hồ sơ, phim, ảnh</center>
            </th>
            <td rowspan="4">
              <center><b>Người giao hồ sơ:</b></center>
              <br />
              <br />
              <br />
              <p>Họ và tên:{{hsba.emrTongKetRaVien.nguoigiaohoso}}</p>
            </td>
            <td rowspan="8">
              <p>Ngày:{{hsba.emrQuanLyNguoiBenh.ngaygioravien}}</p>

              <center><b> Bác sĩ điều trị </b></center>
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <p>Họ và tên:{{hsba.emrTongKetRaVien.bacsydieutri}}</p>
            </td>
          </tr>

          <tr>
            <td>
              <center><b>Loại</b></center>
            </td>
            <td>
              <center><b>Số tờ</b></center>
            </td>
          </tr>
          <tr>
            <td>- X - Quang</td>
            <td>
              <center>{{hsba.emrTongKetRaVien.soToXQuang}}</center>
            </td>
          </tr>
          <tr>
            <td>- CT Scanner</td>
            <td>
              <center>{{hsba.emrTongKetRaVien.soToCTScanner}}</center>
            </td>
          </tr>
          <tr>
            <td>- Siêu âm</td>
            <td>
              <center>{{hsba.emrTongKetRaVien.soToSieuAm}}</center>
            </td>
            <td rowspan="4">
              <center><b> Người nhận hồ sơ</b></center>
              <br />
              <br />
              <br />
              <p>Họ và tên:{{hsba.emrTongKetRaVien.nguoinhanhoso}}</p>
            </td>
          </tr>
          <tr>
            <td>- Xét nghiệm</td>
            <td>
              <center>{{hsba.emrTongKetRaVien.soToXetNghiem}}</center>
            </td>
          </tr>
          <tr>
            <td>- Khác</td>
            <td>
              <center>{{hsba.emrTongKetRaVien.soToKhac}}</center>
            </td>
          </tr>
          <tr>
            <td>- Toàn bộ hồ sơ</td>
            <td>
              <center>
                {{hsba.emrTongKetRaVien.soToXQuang+hsba.emrTongKetRaVien.soToCTScanner+hsba.emrTongKetRaVien.soToSieuAm+hsba.emrTongKetRaVien.soToXetNghiem+hsba.emrTongKetRaVien.soToKhac}}
              </center>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </section>
</div>