<div v-if="hsba">
  <body id="benh_an">
    <benh-an-nhi :hsba="hsba" v-if="hsba.emrDmLoaiBenhAn.ma=='02'"></benh-an-nhi>
    <benh-an-so-sinh :hsba="hsba" v-if="hsba.emrDmLoaiBenhAn.ma=='06'"></benh-an-so-sinh>
    <benh-an-noi-khoa :hsba="hsba" v-if="hsba.emrDmLoaiBenhAn.ma=='01'"></benh-an-noi-khoa>
    <benh-an-ngoai-khoa :hsba="hsba" v-if="hsba.emrDmLoaiBenhAn.ma=='11'"></benh-an-ngoai-khoa>
    <benh-an-ngoai-tru :hsba="hsba" v-if="hsba.emrDmLoaiBenhAn.ma=='20'"></benh-an-ngoai-tru>   
    <benh-an-san-khoa :hsba="hsba" v-if="hsba.emrDmLoaiBenhAn.ma=='05'"></benh-an-san-khoa>    
    <benh-an-truyen-nhiem :hsba="hsba" v-if="hsba.emrDmLoaiBenhAn.ma=='03'"></benh-an-truyen-nhiem>    
    <benh-an-phu-khoa :hsba="hsba" v-if="hsba.emrDmLoaiBenhAn.ma=='04'"></benh-an-phu-khoa>    
    <benh-an-tam-than :hsba="hsba" v-if="hsba.emrDmLoaiBenhAn.ma=='07'"></benh-an-tam-than>    
    <benh-an-da-lieu :hsba="hsba" v-if="hsba.emrDmLoaiBenhAn.ma=='08'"></benh-an-da-lieu>    
    <benh-an-dd :hsba="hsba" v-if="hsba.emrDmLoaiBenhAn.ma=='09'"></benh-an-dd>    
    <benh-an-hhtm :hsba="hsba" v-if="hsba.emrDmLoaiBenhAn.ma=='10'"></benh-an-hhtm>    
    <benh-an-rhm :hsba="hsba" v-if="hsba.emrDmLoaiBenhAn.ma=='14'"></benh-an-rhm>   
    <benh-an-tmh :hsba="hsba" v-if="hsba.emrDmLoaiBenhAn.ma=='15'"></benh-an-tmh>    
    <benh-an-noi-tru-yhct :hsba="hsba" v-if="hsba.emrDmLoaiBenhAn.ma=='35'"></benh-an-noi-tru-yhct>
    <benh-an-ngoai-tru-yhct :hsba="hsba" v-if="hsba.emrDmLoaiBenhAn.ma=='34'"></benh-an-ngoai-tru-yhct>    
    
	
  </body>
  <button id="printButton" class="d-none btn btn-primary btn-sm" v-on:click="printToPdf()">In tờ bệnh án</button>
</div>