<div v-if="hsba">
  <link href="/css/benhan.css" rel="stylesheet" />

  <body id="benhan_new">
    <!-- body code goes here -->
    <div class="container">
      <section class="container-fluid pt-2 mb-4">
        <div class="row">
          <div class="col-auto mr-auto">
            {{hsba.emrCoSoKhamBenh.donvichuquan}}<br />
            {{hsba.emrCoSoKhamBenh.ten}}<br />
            Khoa: <strong class="mr-3">Gan mật</strong>Giường
            <strong>Số 5</strong>
          </div>
          <div class="col">
            <h3 class="text-tle mt-3" v-if="hsba.emrDmLoaiBenhAn.ma=='01'">
              BỆNH ÁN NỘI KHOA
            </h3>
            <h3 class="text-tle mt-3" v-if="hsba.emrDmLoaiBenhAn.ma=='02'">
              BỆNH ÁN NHI KHOA
            </h3>
            <h3 class="text-tle mt-3" v-if="hsba.emrDmLoaiBenhAn.ma=='05'">
              BỆNH ÁN SẢN KHOA
            </h3>
            <h3 class="text-tle mt-3" v-if="hsba.emrDmLoaiBenhAn.ma=='06'">
              BỆNH ÁN SƠ SINH
            </h3>
            <h3 class="text-tle mt-3" v-if="hsba.emrDmLoaiBenhAn.ma=='11'">
              BỆNH ÁN NGOẠI KHOA
            </h3>
            <h3 class="text-tle mt-3" v-if="hsba.emrDmLoaiBenhAn.ma=='20'">
              BỆNH ÁN NGOẠI TRÚ
            </h3>
          </div>
          <div class="col-auto">
            Số lưu trữ: <strong>20102019</strong> <br />
            Mã YT:
            <strong>{{hsba.mayte}}</strong>
          </div>
        </div>
      </section>
      <section class="container-fluid mb-4">
        <h5 class="text-tle1">I. HÀNH CHÍNH:</h5>
        <div class="row mb-2">
          <div class="col">
            <strong class="text-primary">1.</strong> Họ và tên (In hoa):
            {{hsba.emrBenhNhan.tendaydu }}
          </div>
          <div class="col">
            <div class="row">
              <div class="col-auto mr-auto">
                <strong class="text-primary">2.</strong> Sinh ngày:
                {{hsba.emrBenhNhan.ngaysinh }}
              </div>
              <div class="col-auto">
                Tuổi:
                <span class="">
                  {{hsba.emrBenhNhan.tuoi}}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-2">
            <strong class="text-primary">3.</strong> Giới:
          </div>
          <div class="col-2">
            {{hsba.emrBenhNhan.emrDmGioiTinh.ten}}
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <div class="row">
              <span class="col-auto mr-auto">
                <strong class="text-primary">4.</strong> Dân tộc:
                {{hsba.emrBenhNhan.emrDmDanToc.ten}}
              </span>
              <span class="col-auto">
                <em class="text-o">2</em>
                <em class="text-o">9</em>
              </span>
            </div>
          </div>
          <div class="col">
            <div class="row">
              <span class="col-auto mr-auto">
                <strong class="text-primary">5.</strong> Ngoại kiều:
                {{hsba.emrBenhNhan.emrDmQuocGia.ten}}
              </span>
              <span class="col-auto">
                <em class="text-o">2</em>
                <em class="text-o">9</em>
              </span>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <strong class="text-primary">6.</strong> Địa chỉ:
            {{hsba.emrBenhNhan.diachi}}
            <!-- Xã, phường: {{hsba.emrBenhNhan.emrDmPhuongXa.ten}} -->
            <!-- Huyện (Q, Tx) {{hsba.emrBenhNhan.emrDmQuanHuyen.ten}}<em class="text-o">2</em>
          <em class="text-o mr-4">9</em>Tỉnh, thành phố
          {{hsba.emrBenhNhan.emrDmTinhThanh.ten}}<em class="text-o">2</em>
          <em class="text-o">9</em> -->
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <strong class="text-primary">7.</strong>
            Họ tên bố:
            <strong class="mr-4">{{hsba.emrBenhNhan.hotenbo}}</strong>Trình độ
            VH của bố:
            <strong class="mr-4">{{hsba.emrBenhNhan.trinhDoVanHoaCuaBo}}</strong>
            <br />
            Nghề nghiệp của bố:
            <strong class="mr-4">{{hsba.emrBenhNhan.emrDmNgheNghiepBo.ten}}</strong>
          </div>
          <div class="col">
            Họ tên mẹ:
            <strong class="mr-4">{{hsba.emrBenhNhan.hotenme}}</strong>Trình độ
            VH của mẹ:
            <strong class="mr-4">{{hsba.emrBenhNhan.trinhDoVanHoaCuaMe}}</strong>
            <br />
            Nghề nghiệp của mẹ:
            <strong class="mr-4">{{hsba.emrBenhNhan.emrDmNgheNghiepMe.ten}}</strong>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <strong class="text-primary">8.</strong> Đối tượng:
            <em>1.BHYT <em class="text-o mr-4">X</em></em>
            <em>2.Thu phí <em class="text-o mr-4"></em></em>
            <em>3.Miễn <em class="text-o mr-4"></em></em>
            <em>4.Khác <em class="text-o"></em></em>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <strong class="text-primary">9.</strong> BHYT giá trị đến
            ngày:<strong>{{hsba.emrBenhNhan.ngayhethanthebhyt}}</strong>
          </div>
          <div class="col">
            Số thẻ BHYT: {{hsba.emrBenhNhan.sobhyt}}
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <strong class="text-primary">10.</strong> Họ tên, địa chỉ người nhà
            khi cần báo tin:<strong
              class="mr-4">{{hsba.emrBenhNhan.tennguoibaotin}}{{hsba.emrBenhNhan.diachinguoibaotin}}</strong>Điện thoại:
            <strong>{{hsba.emrBenhNhan.sodienthoainguoibaotin}}</strong>
          </div>
        </div>
      </section>
      <section class="container-fluid">
        <h5 class="text-tle1">II. QUẢN LÝ NGƯỜI BỆNH:</h5>
        <table class="table table-bordered table-sm">
          <tbody>
            <tr>
              <td class="w-50">
                <p>
                  <strong class="text-primary">11.</strong> Vào viện:
                  <strong>{{hsba.ngaytiepnhan}}</strong>
                </p>
                <p>
                  <strong class="text-primary">12.</strong> Trực tiếp vào:
                  {{hsba.emrQuanLyNguoiBenh.emrDmNoiTrucTiepVao.ten}}
                </p>
              </td>
              <td>
                <p>
                  <strong class="text-primary">13.</strong> Nơi giới thiệu:
                  {{hsba.emrQuanLyNguoiBenh.emrDmNoiGioiThieu.ten}}
                </p>
              </td>
            </tr>
            <tr>
              <td class="w-50">
                <div class="row mb-3">
                  <div class="col"></div>
                  <div class="col-3 text-center">
                    <strong>Khoa</strong>
                  </div>
                  <div class="col text-center"></div>
                  <div class="col text-center">
                    <strong> ng / th / năm</strong>
                  </div>
                  <div class="col text-center">
                    <strong>Số ngày ĐTr</strong>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <strong class="text-primary">14.</strong> Vào khoa:
                  </div>
                  <div class="col-3">
                    <em class="text-o mr-2">{{hsba.emrQuanLyNguoiBenh.emrDmNoiTrucTiepVao.ten}}</em>
                  </div>
                  <div class="col">
                    <em class="text-o">{{hsba.emrQuanLyNguoiBenh.ngaygiovaovien}}</em>
                  </div>
                  <div class="col text-center">
                    <em class="text-o">{{hsba.emrQuanLyNguoiBenh.tongsongaydieutri}}</em>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <strong class="text-primary">15.</strong> Chuyển khoa:
                  </div>
                  <div class="col-3">
                    <em class="text-o mr-2">Khoa nội</em>
                  </div>
                  <div class="col">
                    <strong>15</strong> Giờ <strong>00</strong> phút
                  </div>
                  <div class="col">
                    <em class="text-o">10</em>/<em class="text-o">10</em>/<em class="text-o">2019</em>
                  </div>
                  <div class="col text-center">
                    <em class="text-o">1</em>
                    <em class="text-o">3</em>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col"></div>
                  <div class="col-3">
                    <em class="text-o mr-2">Khoa Phẫu thuật chỉnh hình</em>
                  </div>
                  <div class="col">
                    <strong>15</strong> Giờ <strong>00</strong> phút
                  </div>
                  <div class="col">
                    <em class="text-o">10</em>/<em class="text-o">10</em>/<em class="text-o">2019</em>
                  </div>
                  <div class="col text-center">
                    <em class="text-o">1</em>
                    <em class="text-o">3</em>
                  </div>
                </div>
                <div class="row">
                  <div class="col"></div>
                  <div class="col-3">
                    <em class="text-o mr-2">Khoa Phẫu thuật chỉnh hình</em>
                  </div>
                  <div class="col">
                    <strong>15</strong> Giờ <strong>00</strong> phút
                  </div>
                  <div class="col">
                    <em class="text-o">10</em>/<em class="text-o">10</em>/<em class="text-o">2019</em>
                  </div>
                  <div class="col text-center">
                    <em class="text-o">1</em>
                    <em class="text-o">3</em>
                  </div>
                </div>
              </td>
              <td>
                <p>
                  <strong class="text-primary">16.</strong> Chuyển viện:
                  {{hsba.emrQuanLyNguoiBenh.emrDmLoaiChuyenVien.ten}}
                </p>
                <p>
                  - Chuyển đến
                  <strong>{{hsba.emrQuanLyNguoiBenh.noichuyenden}}</strong>
                </p>
                <p class="">
                  <strong class="text-primary">17.</strong> Ra viện:
                  <strong>{{hsba.emrQuanLyNguoiBenh.ngaygioravien}}</strong>
                </p>
                <p class="ml-4">
                  {{hsba.emrQuanLyNguoiBenh.emrDmLoaiRaVien.ten}}
                </p>
                <p class="mb-0">
                  <strong class="text-primary">18.</strong> Tổng số ngày điều
                  trị:
                  <strong>{{hsba.emrQuanLyNguoiBenh.tongsongaydieutri}} ngày</strong>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="container-fluid">
        <div class="row">
          <div class="col-5">
            <h5 class="text-tle1">III. CHẨN ĐOÁN:</h5>
          </div>
          <div class="col-1 text-center mr-auto">
            <strong class="text-uppercase">Mã</strong>
          </div>
          <div class="col-1 text-center col-auto">
            <strong class="text-uppercase">Mã</strong>
          </div>
        </div>
        <table class="table table-bordered table-sm">
          <tbody>
            <tr>
              <td class="w-50">
                <div class="row align-items-center">
                  <div class="col mr-auto">
                    <p>
                      <strong class="text-primary">19.</strong> Nơi chuyển đến:
                      <span><strong>{{hsba.emrChanDoan.motachandoannoiden}}</strong></span>
                    </p>
                  </div>
                  <div class="col-auto">
                    <p class="mb-0">
                      <em class="text-o">A</em>
                      <em class="text-o">B</em>
                      <em class="text-o">C</em>
                      <em class="text-o">3</em>
                    </p>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col mr-auto">
                    <p>
                      <strong class="text-primary">20.</strong> KKB, Cấp cứu:
                      <span><strong>{{hsba.emrChanDoan.motachandoankkb}}</strong></span>
                    </p>
                  </div>
                  <div class="col-auto">
                    <p class="mb-0">
                      <em class="text-o">A</em>
                      <em class="text-o">B</em>
                      <em class="text-o">C</em>
                      <em class="text-o">3</em>
                    </p>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col mr-auto">
                    <p>
                      <strong class="text-primary">21.</strong> Khi vào khoa
                      điều trị:
                      <span><strong>{{hsba.emrChanDoan.motachandoanbenhchinh}}</strong></span>
                    </p>
                  </div>
                  <div class="col-auto">
                    <p class="mb-0">
                      <em class="text-o">A</em>
                      <em class="text-o">B</em>
                      <em class="text-o">C</em>
                      <em class="text-o">3</em>
                    </p>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col">+ Thủ thuật:<em class="text-o">X</em></div>
                  <div class="col">+ Phẫu thuật:<em class="text-o"></em></div>
                </div>
              </td>
              <td>
                <div class="row align-items-center">
                  <div class="col mr-auto">
                    <p>
                      <strong class="text-primary">22.</strong> Ra viện: <br />
                      + Bệnh chính: <strong>{{ hsba.emrChanDoan.emrDmMaBenhChandoanravienchinh.ten }}</strong>
                    </p>
                  </div>
                  <div class="col-auto">
                    <p class="mb-0">
                      <em class="text-o">A</em>
                      <em class="text-o">B</em>
                      <em class="text-o">C</em>
                      <em class="text-o">3</em>
                    </p>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col mr-auto">
                    <p>
                      + Bệnh kèm theo:
                      <strong>
                        <span v-for="(emrDm,i) in hsba.emrChanDoan.emrDmMaBenhChandoanravienkemtheos">
                          {{ emrDm.ten }}
                          <span v-if="i+1< hsba.emrChanDoan.emrDmMaBenhChandoanravienkemtheos.length">,</span>
                        </span>
                      </strong>
                    </p>
                  </div>
                  <div class="col-auto">
                    <p class="mb-0">
                      <em class="text-o">A</em>
                      <em class="text-o">B</em>
                      <em class="text-o">C</em>
                      <em class="text-o">3</em>
                    </p>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col">
                    + Tai biến:<em class="text-o">{{hsba.emrChanDoan.bitaibien}}</em>
                  </div>
                  <div class="col">
                    + Biến chứng:<em class="text-o">{{hsba.emrChanDoan.bibienchung}}</em>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="container-fluid">
        <h5 class="text-tle1">IV. TÌNH TRẠNG RA VIỆN</h5>
        <table class="table table-bordered table-sm">
          <tbody>
            <tr>
              <td class="w-40">
                <p>
                  <strong class="text-primary">23.</strong> Kết quả điều trị
                </p>
                <div class="row">
                  <div class="col-6">
                    <div class="row mb-3">
                      <div class="col mr-auto">
                        <em>{{hsba.emrTinhTrangRaVien.emrDmKetQuaDieuTri.ten}}</em>
                      </div>
                    </div>
                  </div>
                </div>
                <p>
                  <strong class="text-primary">24.</strong> Giải phẫu bệnh
                  <em>(khi có sinh thiết):</em>
                </p>
                <div class="row">
                  <div class="col">
                    <em>{{hsba.emrTinhTrangRaVien.emrDmKetQuaGiaiPhauBenh.ten}}
                    </em>
                  </div>
                </div>
              </td>
              <td class="">
                <p>
                  <strong class="text-primary">25.</strong> Tình hình tử vong:
                  <strong>{{hsba.emrTinhTrangRaVien.emrDmThoiDiemTuVong.ten}}</strong>
                </p>
                <div class="row">
                  <div class="col-4">
                    <div class="row mb-3">
                      <div class="col mr-auto">
                        {{hsba.emrTinhTrangRaVien.emrDmLyDoTuVong.ten}}
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col mr-auto">
                        <em>{{hsba.emrTinhTrangRaVien.emrDmThoiDiemTuVong.ten}}</em>
                      </div>
                      <div class="col-auto">
                        <em class="text-o"></em>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="row mb-3">
                      <div class="col-auto">
                        <em class="text-o"></em>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-auto">
                        <em class="text-o"></em>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="row mb-3">
                      <div class="col-auto">
                        <em class="text-o"></em>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col mr-auto">
                    <p>
                      <strong class="text-primary">26.</strong> Nguyên nhân
                      chính tử vong: <br />
                      + Bệnh chính:
                      <strong>{{hsba.emrTinhTrangRaVien.motanguyennhantuvong}}
                      </strong>
                    </p>
                  </div>
                  <div class="col-auto">
                    <p class="mb-0">
                      <em class="text-o">A</em>
                      <em class="text-o">B</em>
                      <em class="text-o">C</em>
                      <em class="text-o">3</em>
                    </p>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col mr-auto">
                    <p>
                      <strong class="text-primary">27.</strong> Khám nghiệm tử
                      thi:
                      <em class="text-o mr-4">{{hsba.emrTinhTrangRaVien.khamnghiemtuthi}}</em><strong
                        class="text-primary">28.</strong>Chẩn đoán giải
                      phẫu tử thi:
                      <strong>{{hsba.emrTinhTrangRaVien.motagiaiphaututhi}}
                      </strong>
                    </p>
                  </div>
                  <div class="col-auto">
                    <p class="mb-0">
                      <em class="text-o">A</em>
                      <em class="text-o">B</em>
                      <em class="text-o">C</em>
                      <em class="text-o">3</em>
                    </p>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="container-fluid">
        <div class="row align-items-end">
          <div class="col text-center">
            <h5 class="mb-3">Giám đốc bệnh viện</h5>
            <p class="">Họ và tên <strong>Nguyễn Văn Bác Sỹ</strong></p>
          </div>
          <div class="col text-center">
            <em>Ngày ....... tháng ...... năm .............</em>
            <h5 class="text-center mb-3">Trưởng khoa</h5>
            <p class="">Họ và tên <strong>Nguyễn Văn Bác Sỹ</strong></p>
          </div>
        </div>
      </section>
      <br />
      <br />
    </div>

    <benh-an-nhi :hsba="hsba" v-if="hsba.emrDmLoaiBenhAn.ma=='02'"></benh-an-nhi>
    <benh-an-so-sinh :hsba="hsba" v-if="hsba.emrDmLoaiBenhAn.ma=='06'"></benh-an-so-sinh>
    <benh-an-noi-khoa :hsba="hsba" v-if="hsba.emrDmLoaiBenhAn.ma=='01'"></benh-an-noi-khoa>
    <benh-an-ngoai-khoa :hsba="hsba" v-if="hsba.emrDmLoaiBenhAn.ma=='11'"></benh-an-ngoai-khoa>
    <benh-an-ngoai-tru :hsba="hsba" v-if="hsba.emrDmLoaiBenhAn.ma=='20'"></benh-an-ngoai-tru>
  </body>

  <button class="btn btn-primary btn-sm" v-on:click="printToPdf()">In tờ bệnh án</button>
</div>